<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<span>Choose the option</span>
<select id="selectPage">
    <option>Choose a page</option>
</select>
<select id="selectWidget">
    <option>Choose a Widget</option>
</select>

<button onClick="send()" id="submit">Submit</button>
</html>
<script>
    //To get the list of pages from server
    var widgets = '<%- widgetDetails %>',
            pages = '<%- pageDetails %>';

    //To convert string to json object
    var parsedWidgets = JSON.parse(widgets),
            parsedPages = JSON.parse(pages);

    //To load the drop down dynamically

    var pageDropDown = document.getElementById("selectPage");
    var select = document.getElementById("selectWidget");

    for (var i = 0; i < parsedWidgets.length; i++) {
        console.log('function', parsedWidgets);
        var opt = parsedWidgets[i].widgetName;
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = parsedWidgets[i].widgetName;
        select.appendChild(el);
    }
    for (var i = 0; i < parsedPages.length; i++) {
        var opt = parsedPages[i].name;

        var el = document.createElement("option");
        el.textContent = opt;
        el.value = parsedPages[i].id;
        el.id = parsedPages[i].name;
        pageDropDown.appendChild(el);
        console.log('id', el.id);
    }

    //Function to send the seelcted page id to the server
    function send() {
        var name = document.getElementById('selectPage').value,

                widget = document.getElementById('selectWidget').value,
                id = document.getElementById('selectPage').textCont;
        pageName = $("#selectPage option:selected").text();
        console.log('page name', pageName, widget, name);

        $.post("/getAdvancedWidget", {pageId: name, widgetName: widget, pageName: pageName});
    }

</script>