<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Showmetric</title>
    <!--<meta name="description" content="A perspective slideshow based on Franklin Ta's CSS matrix3d transforms" />-->
    <!--<meta name="keywords" content="perspective, mockup, slideshow, transform, 3d, matrix, css" />-->
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <!--<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />-->
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/animate1.css" />
    <link rel="stylesheet" type="text/css" href="css/mockup4.css" />
    <script src="js/modernizr.custom.js"></script>
</head>
<body class="demo-4">
<div class="container">
    <!-- Top Navigation -->
    <div id="wrap" class="wrap">
        <div class="mockup">
            <img class="mockup__img" src="image/mockup4.jpg" />

            <div class="screen">
                <ul id="slideshow-2" class="slideshow">
                    <li class="slideshow__item current"> <img src="image/large/1.jpg"/></li>
                    <li class="slideshow__item"><img src="image/large/2.jpg"/></li>
                    <li class="slideshow__item"><img src="image/large/3.jpg"/></li>
                    <li class="slideshow__item"><img src="image/large/4.jpg"/></li>
                </ul>
            </div>

            <header class="codrops-header">
                <a href="/api/v1/login" class="myButton">Sign In</a>
                <a href="/api/v1/signup" class="myButton1">Sign Up</a>
                <h3>ShowMetric<!--Slideshow <i>An animated perspective mockup with 3D transforms computed with <a href="http://franklinta.com/2014/09/08/computing-css-matrix3d-transforms/">Franklin Ta's helper script</a></i>-->
                </h3>

            </header>
        </div>
    </div>

</div><!-- /container -->
<script src="js/classie.js"></script>
<script src="js/main.js"></script>
<script>
    (function() {
        //new Slideshow( document.getElementById( 'slideshow-1' ) );
        setTimeout( function() {
            new Slideshow( document.getElementById( 'slideshow-2' ) );
        }, 1750 );

        /* Mockup responsiveness */
        var body = docElem = window.document.documentElement,
                wrap = document.getElementById( 'wrap' ),
                mockup = wrap.querySelector( '.mockup' ),
                mockupWidth = mockup.offsetWidth;

        scaleMockup();

        function scaleMockup() {
            var wrapWidth = wrap.offsetWidth,
                    val = wrapWidth / mockupWidth;

            mockup.style.transform = 'scale3d(' + val + ', ' + val + ', 1)';
        }

        window.addEventListener( 'resize', resizeHandler );

        function resizeHandler() {
            function delayed() {
                resize();
                resizeTimeout = null;
            }
            if ( typeof resizeTimeout != 'undefined' ) {
                clearTimeout( resizeTimeout );
            }
            resizeTimeout = setTimeout( delayed, 50 );
        }

        function resize() {
            scaleMockup();
        }
    })();
</script>
</body>
</html>


