<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!--<form name="myForm" action="http://localhost:8080/getUserRequest" method="post">-->

Enter the word to search<input type="text" id="search"/>
<button onClick="send()" id="submit">Search</button>

<!--</form>-->
</html>
<script>

function send(){
    var keyWord = document.getElementById('search').value;
    console.log('key word',keyWord);
    $.get("/getUserRequest", {keyWord: keyWord},function(data){
        console.log('response',data);
    });

}
</script>