<html>

<head>
    <title>Datapoolt | Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="icon" href="../../image/Favicon.png">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">




</head>

<body class="gray-bg">

<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <img src="/image/logo.png">
            <h2 class="font-bold">Welcome to Datapoolt</h2>

            <p>
                Login and connect multiple marketing channels into one beautiful dashboard
            </p>

            <p>
                Compare performance across marketing platforms and understand the cause and effect of each of your results
            </p>

            <p>
                Understand and refine strategy across channels, set alerts, export reports and much more
            </p>


        </div>
        <div class="col-md-6">
            <div id="animation_box" class="animated pulse">
                <div class="ibox-content ">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>

                    <% } %>
                    <form class="m-t" role="form" action="/api/v1/login" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="email" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" required="">
                        </div>

                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                        <a href="#">
                            <small>Forgot password?</small>
                        </a>

                        <!--<p class="text-muted text-center">-->
                            <!--<small>Do not have an account?</small>-->
                        <!--</p>-->
                        <!--<a class="btn btn-sm btn-white btn-block" href="/api/v1/signup">Create an account</a>-->
                    </form>

                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Copyright © Datapoolt
        </div>
        <div class="col-md-6 text-right">
            <small>© 2015-2016</small>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script>
     var elementExists = document.getElementsByClassName("alert-danger").length;
     if(elementExists==1){
        var el =  document.getElementById("animation_box");
         el.classList.remove("pulse");
         el.classList.add("shake");
         console.log( document.getElementById("animation_box".className));

     }

</script>

</body>

</html>
