<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Add Your favicon here -->
    <link rel="icon" href="image/favicon.png">

    <title>Datapoolt - Catapult your marketing strategy with data!</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/style2.css" rel="stylesheet">
    <!-- Animation CSS -->
    <link href="css/animate.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
</head>

<body class="gray-bg">



<div class="privacyCol animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <h1 align="center" style="color:#04509B"> Datapoolt - Privacy Policy </h1>

            <br><br><br>

            <p class="privacyans">This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. </p>

             <p class="privacyans">PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. </p>

             <p class="privacyans">Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
            <br><br>
             <p class="privacyques">What personal information do we collect from the people that visit our blog, website or app?</p>

             <p class="privacyans">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, credit card information, Organization name or other details to help you with your experience.</p>
             <br>
             <p class="privacyques">When do we collect information? </p>

             <p class="privacyans">We collect information from you when you register on our site or enter information on our site. </p>
            <br>
             <p class="privacyques">How do we use your information?</p>

             <p class="privacyans">We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:

                <ul>
                    <li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                    <li>To allow us to better service you in responding to your customer service requests.</li>
                    <li>To administer a contest, promotion, survey or other site feature.</li>
                    <li>To quickly process your transactions.</li>
                    <li>To send periodic emails regarding your order or other products and services.</li>
                    <li>To follow up with them after correspondence (live chat, email or phone inquiries)</li>
                </ul>
             </p>
            <br>
            <p class="privacyques">How do we protect visitor information?</p>

            <p class="privacyans">

                We use regular Malware Scanning. <br>

                Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.<br>

                We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information. <br>

                All transactions are processed through a gateway provider and are not stored or processed on our servers.<br>
            </p>
            <br>
            <p class="privacyques">Do we use 'cookies'?</p>

            <p class="privacyans">

                Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
                <br>We use cookies to:
                    <uL>
                        <li>Understand and save user's preferences for future visits.</li>
                        <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf. </li>
                    </uL>
                <br>
            </p>
            <p class="privacyans">
                You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.

                If users disable cookies in their browser:

                If you disable cookies off, most features will be disabled. It will turn off most of the features that make your site experience more efficient and some of our services will not function properly.
            </p>
            <br>
            <p class="privacyques">Third-party disclosure</p>
            <p class="privacyans">One of the features of the Service is that it integrates information from various third party services like Facebook, Twitter, Google Analytics, Instagram, Pinterest (“Third Party Service(s)”). To ensure proper functioning of the Services, you will need to provide your credentials for each Service that you link to. When you add a Third Party Services account to the Service, we will collect relevant information necessary to enable the Service to access that Third Party Service and your data contained within that Third Party Service. As part of such integration, the Third Party Service will provide us with access to certain information that you have provided to the Third Party Service, and we will use, store and disclose such information in accordance with this Privacy Policy. However, please remember that the manner in which Third Party Services use, store and disclose your information is governed by the policies of such third parties, and Datapoolt shall have no liability or responsibility for the privacy practices or other actions of any Third Party Services that may be enabled within the Service. </p>
            <br>

            <p class="privacyques">Google</p>

            <p class="privacyans">
                Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en

                We do not use Google AdSense Advertising on our website, but may do so in the future.

                Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.

                We reserve the right to implement the following:
                    <br>1. Remarketing with Google AdSense
                    <br>2. Google Display Network Impression Reporting
                    <br>3. Demographics and Interests Reporting
                    <br>4. DoubleClick Platform Integration

                <br>We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.
            </p>

            <br>
            <p class="privacyques">Opting out</p>

            <p class="privacyans">Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser add on.</p>
            <br>


            <p class="privacyques">COPPA (Children Online Privacy Protection Act)</p>

            <p class="privacyans">We do not specifically market to children under 13. </p>

            <br>

            <p class="privacyques">Fair Information Practices</p>

            <p class="privacyans">
                The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.

                In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:

                We will notify the users via email within 3 business days.

                We also agree to the Individual Redress Principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.

            </p>





<p class="privacyans">If at any time you would like to unsubscribe from receiving future emails, you can follow the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.
</p>
<br><br>
<p class="privacyques">Contacting Us</p>
<p class="privacyans">If there are any questions regarding this privacy policy you may contact us via email at hello@datapoolt.co </p>
</div>
</div>
    </div>
</body>

</html>

