<!--
* INSPINIA - Responsive Admin Theme
* Version 2.3
*
-->
<!DOCTYPE html>
<html ng-app="inspinia">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title>Datapoolt</title>

    <!-- Bootstrap -->
    <!--<link href="css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Main Inspinia CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">
    <link href="css/datePicker/application.css" rel="stylesheet">

  </head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}} mini-navbar" landing-scrollspy id="page-top">

<!-- Main view  -->
<div ui-view> </div>

<!-- jQuery and Bootstrap -->
<script src="js/jquery/jquery-2.1.1.min.js"></script>
<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<!--<script src="datePicker/js/vendor/jquery.js"></script>
<script src="datePicker/js/vendor/moment.js"></script>-->


<!-- MetsiMenu -->
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="js/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>



<!-- Main Angular scripts-->
<!-- Adding templates for introducing angularjs-nvd3 functionalities -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/d3/d3.min.js"></script>
<script src="/bower_components/nvd3/build/nv.d3.min.js"></script> <!-- or use another assembly -->
<script src="/bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<link rel="stylesheet" href="/bower_components/nvd3/build/nv.d3.min.css">
<link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<!--
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.min.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
-->

<script src="bower_components/css-element-queries/src/ResizeSensor.js"></script>
<script src="bower_components/css-element-queries/src/ElementQueries.js"></script>

<link href="bower_components/angular-xeditable/dist/css/xeditable.min.css" rel="stylesheet">
<script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="bower_components/jspdf/dist/jspdf.min.js"></script>

<!--
<script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script>
<script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
<script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script>
-->

<!--
<script src="js/angular/angular.js"></script>
-->
<script src="js/angular/angular-sanitize.min.js"></script>
<script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="js/angular-translate/angular-translate.min.js"></script>
<!--
<script src="js/ui-router/angular-ui-router.min.js"></script>
-->
<script src="js/ui-router/angular-ui-router.min.js"></script>
<!--
<script src="js/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
-->
<script src="js/plugins/angular-idle/angular-idle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.js"> </script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.1/ui-bootstrap-tpls.js"></script>
-->
<!--
<script src="js/ui-bootstrap-tpls/ui-bootstrap-tpls.js"></script>
-->
<script src="js/angular-gridster/angular-gridster.min.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/dom-to-image.js"></script>
<script src="js/FileSaver.js"></script>
<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<!--
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
-->

<!-- Anglar App Script -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/translations.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>
<script src="js/viewController/mainController.js"></script>
<script src="js/viewController/appController.js"></script>
<script src="js/viewController/basicWidgetController.js"></script>
<script src="js/viewController/customWidgetController.js"></script>
<script src="js/viewController/gridviewController.js"></script>
<script src="js/viewController/widgetSettingsController.js"></script>
<script src="js/viewController/lightBoxController.js"></script>
<script src="js/viewController/dashboardController.js"></script>
<script src="js/viewController/modalInstanceController.js"></script>
<script src="js/viewController/fusionWidgetController.js"></script>
<script src="js/viewController/recommendedDashboardController.js"></script>
<script src="js/viewController/exportController.js"></script>
</body>
</html>
