
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Datapoolt | Register</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen   animated fadeInDown">

        <div class="logo_div">

            <h1 class="logo-name">Datapoolt</h1>

        </div>

        <div>
            <h3>Register to Datapoolt</h3>
            <p>Create account to see it in action.</p>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <form class="m-t" role="form" action="/api/v1/signup" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name"  name="name" required="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email"  name="email" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password"  name="password" required="">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="ConfirmPassword" name="confirmpassword" required="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Country" name="country" required="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="PhoneNumber" name="phone" required="">
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Signup</button>
                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/api/v1/login">Login</a>

            </form>
        </div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
</body>

</html>
