<html>
<head>
    <script>
/*
        console.log(window.opener);
        window.opener.popupCallback();
*/
        window.close();
    </script>
</head>
<body>
    Successfully Authenticated.
</body>
</html>