<!-- Wrapper-->
<div id="wrapper">

    AD REPORTING
    <!-- Navigation -->
    <div ng-include="'common/navigation.ejs'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'common/topnavbar.ejs'"></div>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-include="'common/footer.ejs'"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <div ng-include="'common/right_sidebar.ejs'"></div>

</div>
<!-- End wrapper-->