<!-- Wrapper-->
<div id="wrapper" class="white-bg">

    <!-- Navigation -->
    <div ng-include="'common/navigation.ejs'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg" style="margin-top: 57px;padding-bottom: 10px">

        <!-- Page wrapper -->
        <div ng-include="'common/topnavbar.ejs'"></div>

        <div ui-view></div>
        <!-- Main view  -->
        <div ui-view="main" class="main-content"></div>

        <!-- Footer -->

        <div ng-include="'common/footer.ejs'" style="margin-top: 50px;"></div>


    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
<!--
    <div ng-include="'common/right_sidebar.ejs'"></div>
-->

</div>
<!-- End wrapper-->