<div class="footer">
<!--
    <div class="pull-right comments" ng-controller="SwitchController">
        &lt;!&ndash;10GB of <strong>250GB</strong> Free.&ndash;&gt;

         <switch id="sliderLabel" class="customSwitch" name="enabled" ng-model="switchEnabled" ng-change="changeCallback(1)"></switch>

        <label class="commentsContent">
         <span>Comments</span>
        </label>
    </div>
-->
    <div>
        <!--<strong>Copyright</strong> Example Company &copy; 2014-2015-->
    </div>
</div>
