<nav class="navbar-default navbar-static-side navbarFixed" role="navigation" ng-controller="NavigationController">
    <div class="sidebar-collapse">
        <!--List to be displayed in the sidebar when the 'dashboardReporting' state is active-->
        <ul side-navigation class="nav metismenu" id="side-menu" ng-class="{active: $state.includes('reporting')}">
            <li class="nav-header">
                <div class="dropdown profile-element profile-picture" dropdown>
                    <a href="{{siteUrl}}" target="_blank"><img alt="Datapoolt" src="image/logo.png"/></a>
                </div>
            </li>

            <li>
                <a ng-click="createNewDashboard()">
                    <svg width="17px" height="15px" viewBox="0 0 17 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <path d="M0.43552381,14.5004286 C0.689714286,14.754619 0.998952381,14.8817143 1.36242857,14.8817143 L6.5587619,14.8817143 C6.90442857,14.8817143 7.21285714,14.754619 7.46785714,14.5004286 C7.72204762,14.2454286 7.84914286,13.937 7.84914286,13.5913333 L7.84914286,9.68538095 C7.84914286,9.33971429 7.72204762,9.03128571 7.46785714,8.77628571 C7.21285714,8.52209524 6.90442857,8.395 6.5587619,8.395 L1.36242857,8.395 C0.998952381,8.395 0.689714286,8.52209524 0.43552381,8.77628571 C0.181333333,9.03128571 0.0542380952,9.33971429 0.0542380952,9.68538095 L0.0542380952,13.5913333 C0.0542380952,13.937 0.181333333,14.2454286 0.43552381,14.5004286 L0.43552381,14.5004286 Z M0.43552381,6.70471429 C0.689714286,6.95971429 0.998952381,7.08680952 1.36242857,7.08680952 L6.5587619,7.08680952 C6.90442857,7.08680952 7.21285714,6.95971429 7.46785714,6.70471429 C7.72204762,6.45052381 7.84914286,6.14209524 7.84914286,5.79642857 L7.84914286,1.88966667 C7.84914286,1.54480952 7.72204762,1.23557143 7.46785714,0.981380952 C7.21285714,0.727190476 6.90442857,0.600095238 6.5587619,0.600095238 L1.36242857,0.600095238 C0.998952381,0.600095238 0.689714286,0.727190476 0.43552381,0.981380952 C0.181333333,1.23557143 0.0542380952,1.54480952 0.0542380952,1.88966667 L0.0542380952,5.79642857 C0.0542380952,6.14209524 0.181333333,6.45052381 0.43552381,6.70471429 L0.43552381,6.70471429 Z M9.52080952,14.5004286 C9.775,14.754619 10.0842381,14.8817143 10.4477143,14.8817143 L15.6440476,14.8817143 C15.9897143,14.8817143 16.2981429,14.754619 16.5523333,14.5004286 C16.8073333,14.2454286 16.9344286,13.937 16.9344286,13.5913333 L16.9344286,9.68538095 C16.9344286,9.33971429 16.8073333,9.03128571 16.5523333,8.77628571 C16.2981429,8.52209524 15.9897143,8.395 15.6440476,8.395 L10.4477143,8.395 C10.0842381,8.395 9.775,8.52209524 9.52080952,8.77628571 C9.26661905,9.03128571 9.13952381,9.33971429 9.13952381,9.68538095 L9.13952381,13.5913333 C9.13952381,13.937 9.26661905,14.2454286 9.52080952,14.5004286 L9.52080952,14.5004286 Z M9.52080952,6.70471429 C9.775,6.95971429 10.0842381,7.08680952 10.4477143,7.08680952 L15.6440476,7.08680952 C15.9897143,7.08680952 16.2981429,6.95971429 16.5523333,6.70471429 C16.8073333,6.45052381 16.9344286,6.14209524 16.9344286,5.79642857 L16.9344286,1.88966667 C16.9344286,1.54480952 16.8073333,1.23557143 16.5523333,0.981380952 C16.2981429,0.727190476 15.9897143,0.600095238 15.6440476,0.600095238 L10.4477143,0.600095238 C10.0842381,0.600095238 9.775,0.727190476 9.52080952,0.981380952 C9.26661905,1.23557143 9.13952381,1.54480952 9.13952381,1.88966667 L9.13952381,5.79642857 C9.13952381,6.14209524 9.26661905,6.45052381 9.52080952,6.70471429 L9.52080952,6.70471429 Z" id="Fill-107" stroke="none" fill="#04509B" fill-rule="evenodd"></path>
                    </svg>
                    <span class="nav-label"> Add Empty Dashboard</span>
                </a>
            </li>


            <li ng-show="$state.includes('app.reporting.dashboard')">
                <a ui-sref="app.reporting.dashboard.recommendedDashboard">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="nav-label">  Add Recommended Dashboard</span>
                </a>
            </li>

            <li>
                <a ui-sref="app.reporting.dashboards">
                    <i class="fa fa-list"></i>
                    <span class="nav-label">  Grid View</span>
                </a>
            </li>


            <li ng-show="$state.includes('app.reporting.dashboard')">
                <a ui-sref="app.reporting.dashboard.basicWidget({widgetType:'basic'})">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-label">  Add Widgets</span>
                </a>
            </li>


            <li ng-show="$state.includes('app.reporting.dashboard')">
                <a ui-sref="app.reporting.dashboard.fusionWidget">
                    <i class="fa fa-random"></i>
                    <span class="nav-label">  Fusions</span>
                </a>
            </li>

            <li ng-show="$state.includes('app.reporting.dashboard')"class="md-trigger md-setperspective md-effect-19 addRemoveModalContent" data-modal="addRemoveModalContent">
                <a>
                    <i class="fa fa-bolt"></i>
                    <span class="nav-label">  Insights</span>
                </a>
            </li>

            <li class="md-trigger md-setperspective md-effect-19 usersModalContent" data-modal="usersModalContent">
                <a>
                    <svg width="17px" height="16px" viewBox="9 381 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="fa-group-(alias)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(9.000000, 381.000000)">
                            <path d="M0.78676,8.66864 C1.10704,8.8978 1.50416,9.01952 1.97744,9.01952 L3.12188,9.01952 C3.70192,8.31776 4.44992,7.96688 5.38084,7.93628 C4.90756,7.26444 4.67908,6.54704 4.67908,5.75348 C4.67908,5.58552 4.69404,5.4026 4.72464,5.18908 C4.34316,5.32644 3.96168,5.38696 3.5802,5.38696 C3.25924,5.38696 2.92332,5.32644 2.57244,5.20404 C2.23652,5.08232 1.9618,4.95992 1.74828,4.85316 C1.53476,4.73076 1.41236,4.67024 1.38176,4.67024 C0.66436,4.67024 0.31348,5.66168 0.31348,7.66156 C0.31348,8.10424 0.46648,8.44016 0.78676,8.66864 L0.78676,8.66864 Z M3.59516,4.67024 C4.19016,4.67024 4.709,4.45604 5.13672,4.029 C5.56376,3.60128 5.77796,3.08244 5.77796,2.48744 C5.77796,1.89176 5.56376,1.37292 5.13672,0.94588 C4.709,0.51816 4.19016,0.30464 3.59516,0.30464 C2.98452,0.30464 2.46568,0.51816 2.0536,0.94588 C1.62588,1.37292 1.41236,1.89176 1.41236,2.48744 C1.41236,3.08244 1.62588,3.60128 2.0536,4.029 C2.46568,4.45604 2.98452,4.67024 3.59516,4.67024 L3.59516,4.67024 Z M3.12188,14.97224 C3.53396,15.36936 4.0834,15.56792 4.7702,15.56792 L12.21892,15.56792 C12.90572,15.56792 13.45516,15.36936 13.86724,14.97224 C14.27932,14.5758 14.49284,14.04132 14.49284,13.37016 C14.49284,13.06484 14.47788,12.77448 14.46224,12.4848 C14.44728,12.19444 14.40172,11.88912 14.34052,11.5532 C14.27932,11.21796 14.20316,10.91264 14.11136,10.63792 C14.01956,10.34756 13.89784,10.07284 13.74484,9.79812 C13.59252,9.53904 13.42456,9.29492 13.226,9.11132 C13.02744,8.9284 12.78332,8.7754 12.49364,8.65368 C12.20328,8.54692 11.883,8.48572 11.53212,8.48572 C11.48588,8.48572 11.36416,8.54692 11.18056,8.66864 C10.98268,8.79104 10.78412,8.9284 10.55496,9.06576 C10.32648,9.21808 10.02116,9.35544 9.639,9.47784 C9.25752,9.59956 8.87604,9.66076 8.49456,9.66076 C8.11308,9.66076 7.7316,9.59956 7.35012,9.47784 C6.96796,9.35544 6.66332,9.21808 6.43416,9.06576 C6.22064,8.9284 6.00644,8.79104 5.82352,8.66864 C5.62496,8.54692 5.50324,8.48572 5.457,8.48572 C5.10612,8.48572 4.78584,8.54692 4.49548,8.65368 C4.2058,8.7754 3.97664,8.9284 3.76312,9.11132 C3.56456,9.29492 3.3966,9.53904 3.24428,9.79812 C3.09128,10.07284 2.96956,10.34756 2.87776,10.63792 C2.78596,10.91264 2.7098,11.21796 2.6486,11.5532 C2.5874,11.88912 2.54184,12.19444 2.52688,12.4848 C2.51124,12.77448 2.49628,13.06484 2.49628,13.37016 C2.49628,14.04132 2.7098,14.5758 3.12188,14.97224 L3.12188,14.97224 Z M8.49456,9.01952 C9.39488,9.01952 10.15852,8.69924 10.79908,8.058 C11.44032,7.41744 11.7606,6.6538 11.7606,5.75348 C11.7606,4.85316 11.44032,4.0902 10.79908,3.44896 C10.15852,2.80772 9.39488,2.48744 8.49456,2.48744 C7.5786,2.48744 6.81564,2.80772 6.1744,3.44896 C5.53384,4.0902 5.21288,4.85316 5.21288,5.75348 C5.21288,6.6538 5.53384,7.41744 6.1744,8.058 C6.81564,8.69924 7.5786,9.01952 8.49456,9.01952 L8.49456,9.01952 Z M13.39396,4.67024 C14.0046,4.67024 14.52344,4.45604 14.93552,4.029 C15.36256,3.60128 15.57676,3.08244 15.57676,2.48744 C15.57676,1.89176 15.36256,1.37292 14.93552,0.94588 C14.52344,0.51816 14.0046,0.30464 13.39396,0.30464 C12.79896,0.30464 12.28012,0.51816 11.8524,0.94588 C11.42536,1.37292 11.21116,1.89176 11.21116,2.48744 C11.21116,3.08244 11.42536,3.60128 11.8524,4.029 C12.28012,4.45604 12.79896,4.67024 13.39396,4.67024 L13.39396,4.67024 Z M13.8822,9.01952 L15.01168,9.01952 C15.48496,9.01952 15.86644,8.8978 16.1874,8.66864 C16.50768,8.44016 16.66,8.10424 16.66,7.66156 C16.66,5.66168 16.30912,4.67024 15.60736,4.67024 C15.57676,4.67024 15.45436,4.73076 15.24084,4.85316 C15.02732,4.95992 14.7526,5.08232 14.41668,5.20404 C14.0658,5.32644 13.72988,5.38696 13.4096,5.38696 C13.01248,5.38696 12.631,5.32644 12.24952,5.18908 C12.28012,5.4026 12.29508,5.58552 12.29508,5.75348 C12.29508,6.54704 12.06592,7.26444 11.62324,7.93628 C12.5392,7.96688 13.2872,8.31776 13.8822,9.01952 L13.8822,9.01952 Z" id="Fill-46" fill="#04509B"></path>
                        </g>
                    </svg>
                    <span class="nav-label">Users and Accounts</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li class="md-trigger md-setperspective md-effect-19 addRemoveModalContent" data-modal="addRemoveModalContent"><a ng-click="">Add / Remove User</a></li>
                    <li class="md-trigger md-setperspective md-effect-19 modifyUserModalContent" data-modal="modifyUserModalContent"><a>Modify User Permissions</a></li>
                    <li class="md-trigger md-setperspective md-effect-19 newAccountModalContent" data-modal="newAccountModalContent"><a>Create New Account</a></li>
                </ul>
            </li>
            <li class="md-trigger md-setperspective md-effect-19" ui-sref="app.changePassword" data-modal="settingModalContent">
                <a>
                    <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <path d="M0.37468,8.82776 C0.42024,8.87332 0.46648,8.88828 0.51204,8.90392 L1.80948,9.10248 C1.88564,9.316 1.97744,9.56012 2.1148,9.80424 C2.023,9.92664 1.88564,10.10956 1.71768,10.32308 C1.53476,10.55224 1.41236,10.6896 1.3668,10.7814 C1.32124,10.82696 1.3056,10.88816 1.3056,10.93372 C1.3056,11.08604 1.71768,11.54436 2.52688,12.29236 C2.58808,12.33792 2.64928,12.36852 2.7098,12.36852 C2.78664,12.36852 2.8322,12.35288 2.87776,12.30732 L3.88552,11.54436 C4.114,11.66608 4.3282,11.75788 4.52608,11.81908 L4.72464,13.11652 C4.72464,13.17772 4.75524,13.22328 4.8008,13.26884 C4.84704,13.31508 4.90756,13.33004 4.96876,13.33004 L6.55656,13.33004 C6.69392,13.33004 6.77008,13.26884 6.81564,13.13148 C6.87684,12.85676 6.953,12.41408 7.0142,11.80344 C7.22772,11.74292 7.45688,11.65112 7.6704,11.54436 L8.64756,12.30732 C8.69312,12.35288 8.75432,12.36852 8.81552,12.36852 C8.93724,12.36852 9.15076,12.20056 9.48668,11.86464 C9.8226,11.52872 10.06672,11.26964 10.18912,11.10168 C10.23468,11.05612 10.25032,11.00988 10.25032,10.93372 C10.25032,10.87252 10.23468,10.82696 10.18912,10.76576 C9.86816,10.38428 9.62404,10.064 9.42548,9.78928 C9.54788,9.56012 9.63968,9.33096 9.7002,9.1324 L11.01328,8.93452 C11.07448,8.93452 11.12004,8.90392 11.15064,8.84272 C11.1962,8.79716 11.21184,8.73596 11.21184,8.67476 L11.21184,7.1026 C11.21184,7.0414 11.1962,6.98088 11.15064,6.93464 C11.12004,6.88908 11.07448,6.85848 11.01328,6.84352 L9.71584,6.64496 C9.65464,6.46136 9.56284,6.23288 9.42548,5.95816 C9.51728,5.83576 9.63968,5.65284 9.80764,5.43932 C9.97492,5.22512 10.09732,5.0728 10.17348,4.981 C10.20408,4.9198 10.23468,4.87424 10.23468,4.82868 C10.23468,4.66072 9.8226,4.21804 8.99844,3.45508 C8.93724,3.40884 8.89168,3.39388 8.81552,3.39388 C8.75432,3.39388 8.69312,3.40884 8.64756,3.45508 L7.6398,4.2024 C7.41132,4.09564 7.19712,4.00452 7.0142,3.94332 L6.81564,2.64588 C6.80068,2.58468 6.78504,2.53912 6.72452,2.49356 C6.67828,2.44732 6.61708,2.43236 6.55656,2.43236 L4.96876,2.43236 C4.84704,2.43236 4.75524,2.49356 4.72464,2.63092 C4.64848,2.89 4.58728,3.33268 4.52608,3.94332 C4.28196,4.01948 4.05348,4.11128 3.86988,4.21804 L2.8934,3.45508 C2.8322,3.40884 2.771,3.39388 2.7098,3.39388 C2.60304,3.39388 2.37456,3.56184 2.03864,3.89776 C1.68708,4.233 1.4586,4.47712 1.3362,4.64508 C1.29064,4.69132 1.275,4.75252 1.275,4.82868 C1.275,4.87424 1.29064,4.93544 1.3362,4.99664 C1.65716,5.37812 1.91624,5.6984 2.09916,5.97312 C1.97744,6.20228 1.88564,6.4158 1.82512,6.61436 L0.51204,6.82788 C0.45084,6.82788 0.42024,6.85848 0.37468,6.91968 C0.32912,6.96524 0.31348,7.02644 0.31348,7.072 L0.31348,8.6598 C0.31348,8.72032 0.32912,8.76656 0.37468,8.82776 L0.37468,8.82776 Z M5.763,5.6984 C6.37296,5.6984 6.87684,5.91192 7.30388,6.33964 C7.7316,6.76668 7.94512,7.27056 7.94512,7.8812 C7.94512,8.4762 7.7316,8.99504 7.30388,9.42276 C6.87684,9.8498 6.37296,10.064 5.763,10.064 C5.16732,10.064 4.64848,9.8498 4.22076,9.42276 C3.79372,8.99504 3.5802,8.4762 3.5802,7.8812 C3.5802,7.27056 3.79372,6.76668 4.22076,6.33964 C4.64848,5.91192 5.16732,5.6984 5.763,5.6984 L5.763,5.6984 Z M11.39476,13.10088 C11.45596,13.25388 11.54708,13.4062 11.65384,13.54356 C11.36416,14.1848 11.21184,14.58192 11.21184,14.71928 C11.21184,14.73424 11.2268,14.76484 11.2574,14.7798 C11.9442,15.17692 12.29508,15.37548 12.31072,15.37548 C12.35628,15.37548 12.47868,15.25308 12.6922,14.97836 C12.92068,14.71928 13.05804,14.52072 13.13488,14.39832 C13.2566,14.41396 13.33344,14.41396 13.39396,14.41396 C13.45516,14.41396 13.53132,14.41396 13.65372,14.39832 C13.72988,14.52072 13.88288,14.71928 14.0964,14.97836 C14.30992,15.25308 14.44728,15.37548 14.49284,15.37548 C14.49284,15.37548 14.8444,15.17692 15.54616,14.7798 C15.5618,14.76484 15.57676,14.73424 15.57676,14.71928 C15.57676,14.58192 15.4394,14.1848 15.14972,13.54356 C15.24084,13.4062 15.33264,13.25388 15.39384,13.10088 C16.2486,13.00976 16.66068,12.93292 16.66068,12.8418 L16.66068,11.65112 C16.66068,11.55932 16.2486,11.4682 15.39384,11.3764 C15.317,11.20844 15.24084,11.07108 15.14972,10.93372 C15.4394,10.29248 15.57676,9.89604 15.57676,9.75868 C15.57676,9.74304 15.5618,9.71244 15.54616,9.69748 C14.85936,9.30036 14.50848,9.10248 14.49284,9.10248 L14.43232,9.11744 C14.20316,9.36156 13.9434,9.66688 13.65372,10.07896 C13.53132,10.064 13.45516,10.064 13.39396,10.064 C13.33344,10.064 13.2566,10.064 13.13488,10.07896 C13.05804,9.95656 12.92068,9.75868 12.6922,9.49892 C12.47868,9.23984 12.35628,9.10248 12.31072,9.10248 C12.29508,9.10248 12.20396,9.14804 12.05096,9.23984 C11.89864,9.33096 11.73068,9.42276 11.54708,9.52952 C11.37912,9.63628 11.27236,9.69748 11.2574,9.69748 C11.2268,9.71244 11.21184,9.74304 11.21184,9.75868 C11.21184,9.89604 11.36416,10.29248 11.65384,10.93372 C11.54708,11.07108 11.47092,11.20844 11.39476,11.3764 C10.55496,11.4682 10.12792,11.55932 10.12792,11.65112 L10.12792,12.8418 C10.12792,12.93292 10.55496,13.00976 11.39476,13.10088 L11.39476,13.10088 Z M11.39476,4.37036 C11.45596,4.53832 11.54708,4.67568 11.65384,4.82868 C11.36416,5.46924 11.21184,5.8514 11.21184,6.00372 C11.21184,6.01936 11.2268,6.03432 11.2574,6.04928 C11.9442,6.46136 12.29508,6.65992 12.31072,6.65992 C12.35628,6.65992 12.47868,6.52256 12.6922,6.26348 C12.92068,5.98876 13.05804,5.80516 13.13488,5.68344 C13.2566,5.6984 13.33344,5.6984 13.39396,5.6984 C13.45516,5.6984 13.53132,5.6984 13.65372,5.68344 C13.72988,5.80516 13.88288,5.98876 14.0964,6.26348 C14.30992,6.52256 14.44728,6.65992 14.49284,6.65992 C14.49284,6.65992 14.8444,6.46136 15.54616,6.04928 C15.5618,6.03432 15.57676,6.01936 15.57676,6.00372 C15.57676,5.8514 15.4394,5.46924 15.14972,4.82868 C15.24084,4.67568 15.33264,4.53832 15.39384,4.37036 C16.2486,4.2942 16.66068,4.2024 16.66068,4.11128 L16.66068,2.9206 C16.66068,2.8288 16.2486,2.73768 15.39384,2.66084 C15.317,2.49356 15.24084,2.34056 15.14972,2.21884 C15.4394,1.5776 15.57676,1.18048 15.57676,1.04312 C15.57676,1.01252 15.5618,0.99756 15.54616,0.98192 C14.85936,0.58548 14.50848,0.38692 14.49284,0.38692 L14.43232,0.40256 C14.20316,0.63104 13.9434,0.952 13.65372,1.34844 C13.53132,1.34844 13.45516,1.33348 13.39396,1.33348 C13.33344,1.33348 13.2566,1.34844 13.13488,1.34844 C13.05804,1.24168 12.92068,1.04312 12.6922,0.78404 C12.47868,0.50932 12.35628,0.38692 12.31072,0.38692 C12.29508,0.38692 12.20396,0.43248 12.05096,0.52428 C11.89864,0.61608 11.73068,0.7072 11.54708,0.81464 C11.37912,0.90576 11.27236,0.96696 11.2574,0.98192 C11.2268,0.99756 11.21184,1.01252 11.21184,1.04312 C11.21184,1.18048 11.36416,1.5776 11.65384,2.21884 C11.54708,2.34056 11.47092,2.49356 11.39476,2.66084 C10.55496,2.73768 10.12792,2.8288 10.12792,2.9206 L10.12792,4.11128 C10.12792,4.2024 10.55496,4.2942 11.39476,4.37036 L11.39476,4.37036 Z M12.631,11.4682 C12.84452,11.254 13.10428,11.14724 13.39396,11.14724 C13.68432,11.14724 13.9434,11.254 14.1576,11.4682 C14.38608,11.68172 14.49284,11.9408 14.49284,12.24612 C14.49284,12.53648 14.38608,12.79556 14.17256,13.00976 C13.95904,13.22328 13.69928,13.33004 13.39396,13.33004 C13.08864,13.33004 12.84452,13.22328 12.631,13.00976 C12.41748,12.79556 12.31072,12.53648 12.31072,12.24612 C12.31072,11.9408 12.41748,11.68172 12.631,11.4682 L12.631,11.4682 Z M12.631,2.75264 C12.84452,2.53912 13.10428,2.43236 13.39396,2.43236 C13.68432,2.43236 13.9434,2.53912 14.1576,2.75264 C14.38608,2.96616 14.49284,3.22592 14.49284,3.5156 C14.49284,3.82092 14.38608,4.08068 14.17256,4.2942 C13.95904,4.50772 13.69928,4.61516 13.39396,4.61516 C13.08864,4.61516 12.84452,4.50772 12.631,4.2942 C12.41748,4.08068 12.31072,3.82092 12.31072,3.5156 C12.31072,3.22592 12.41748,2.96616 12.631,2.75264 L12.631,2.75264 Z" id="Fill-182" stroke="none" fill="#04509B
                        " fill-rule="evenodd"></path>
                    </svg>
                    <span class="nav-label" ui-sref="app.changePassword">Change Password</span>
                </a>
            </li>
        </ul>
<!--
        &lt;!&ndash;List to be displayed in the sidebar when the 'adReporting' state is active&ndash;&gt;
        <ul side-navigation class="nav metismenu" id="side-menu" ng-class="{active: $state.includes('adReporting')}" ng-show="$state.includes('adReporting')">
            <li ng-class="{active: $state.includes('adReporting')}">
                <a><i class="fa fa-th-large"></i> <span class="nav-label">Sample for AdReporting</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('adReporting')}">
                    <li><a>Ad reporting</a></li>
                </ul>
            </li>
        </ul>
-->
    </div>
    <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 344.828px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.9; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>


</nav>

<script>
    $('.soonModel').click(function () {
        swal("Coming Soon!");
    });

</script>
