<nav class="navbar-default navbar-static-side navbarFixed" role="navigation" ng-controller="NavigationController">
    <div class="sidebar-collapse">
        <!--List to be displayed in the sidebar when the 'dashboardReporting' state is active-->
        <ul side-navigation class="nav metismenu" id="side-menu" ng-class="{active: $state.includes('reporting')}">
            <li class="nav-header">
                <div class="dropdown profile-element profile-picture" dropdown>
                    <a href="{{siteUrl}}" target="_blank"><img alt="Datapoolt" src="image/logo.png"/></a>
                </div>
            </li>
            <li>
                <a ng-click="createNewDashboard()">
                    <svg width="17px" height="15px" viewBox="0 0 17 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <path d="M0.43552381,14.5004286 C0.689714286,14.754619 0.998952381,14.8817143 1.36242857,14.8817143 L6.5587619,14.8817143 C6.90442857,14.8817143 7.21285714,14.754619 7.46785714,14.5004286 C7.72204762,14.2454286 7.84914286,13.937 7.84914286,13.5913333 L7.84914286,9.68538095 C7.84914286,9.33971429 7.72204762,9.03128571 7.46785714,8.77628571 C7.21285714,8.52209524 6.90442857,8.395 6.5587619,8.395 L1.36242857,8.395 C0.998952381,8.395 0.689714286,8.52209524 0.43552381,8.77628571 C0.181333333,9.03128571 0.0542380952,9.33971429 0.0542380952,9.68538095 L0.0542380952,13.5913333 C0.0542380952,13.937 0.181333333,14.2454286 0.43552381,14.5004286 L0.43552381,14.5004286 Z M0.43552381,6.70471429 C0.689714286,6.95971429 0.998952381,7.08680952 1.36242857,7.08680952 L6.5587619,7.08680952 C6.90442857,7.08680952 7.21285714,6.95971429 7.46785714,6.70471429 C7.72204762,6.45052381 7.84914286,6.14209524 7.84914286,5.79642857 L7.84914286,1.88966667 C7.84914286,1.54480952 7.72204762,1.23557143 7.46785714,0.981380952 C7.21285714,0.727190476 6.90442857,0.600095238 6.5587619,0.600095238 L1.36242857,0.600095238 C0.998952381,0.600095238 0.689714286,0.727190476 0.43552381,0.981380952 C0.181333333,1.23557143 0.0542380952,1.54480952 0.0542380952,1.88966667 L0.0542380952,5.79642857 C0.0542380952,6.14209524 0.181333333,6.45052381 0.43552381,6.70471429 L0.43552381,6.70471429 Z M9.52080952,14.5004286 C9.775,14.754619 10.0842381,14.8817143 10.4477143,14.8817143 L15.6440476,14.8817143 C15.9897143,14.8817143 16.2981429,14.754619 16.5523333,14.5004286 C16.8073333,14.2454286 16.9344286,13.937 16.9344286,13.5913333 L16.9344286,9.68538095 C16.9344286,9.33971429 16.8073333,9.03128571 16.5523333,8.77628571 C16.2981429,8.52209524 15.9897143,8.395 15.6440476,8.395 L10.4477143,8.395 C10.0842381,8.395 9.775,8.52209524 9.52080952,8.77628571 C9.26661905,9.03128571 9.13952381,9.33971429 9.13952381,9.68538095 L9.13952381,13.5913333 C9.13952381,13.937 9.26661905,14.2454286 9.52080952,14.5004286 L9.52080952,14.5004286 Z M9.52080952,6.70471429 C9.775,6.95971429 10.0842381,7.08680952 10.4477143,7.08680952 L15.6440476,7.08680952 C15.9897143,7.08680952 16.2981429,6.95971429 16.5523333,6.70471429 C16.8073333,6.45052381 16.9344286,6.14209524 16.9344286,5.79642857 L16.9344286,1.88966667 C16.9344286,1.54480952 16.8073333,1.23557143 16.5523333,0.981380952 C16.2981429,0.727190476 15.9897143,0.600095238 15.6440476,0.600095238 L10.4477143,0.600095238 C10.0842381,0.600095238 9.775,0.727190476 9.52080952,0.981380952 C9.26661905,1.23557143 9.13952381,1.54480952 9.13952381,1.88966667 L9.13952381,5.79642857 C9.13952381,6.14209524 9.26661905,6.45052381 9.52080952,6.70471429 L9.52080952,6.70471429 Z" id="Fill-107" stroke="none" fill="#04509B" fill-rule="evenodd"></path>
                    </svg>
                    <span class="nav-label"> Add Empty Dashboard</span>
                </a>
            </li>
            <li ng-show="$state.includes('app.reporting.dashboard')">
                <a ui-sref="app.reporting.dashboard.recommendedDashboard">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="nav-label"> Add Recommended Dashboard</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.reporting.dashboards">
                    <i class="fa fa-list"></i>
                    <span class="nav-label"> Grid View</span>
                </a>
            </li>
            <li ng-show="$state.includes('app.reporting.dashboard')">
                <a ui-sref="app.reporting.dashboard.basicWidget({widgetType:'basic'})">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-label"> Add Widgets</span>
                </a>
            </li>
            <li ng-show="$state.includes('app.reporting.dashboard')">
                <a ui-sref="app.reporting.dashboard.fusionWidget">
                    <i class="fa fa-random"></i>
                    <span class="nav-label"> Fusions</span>
                </a>
            </li>
            <li ng-show="$state.includes('app.reporting.dashboard')"class="md-trigger md-setperspective md-effect-19 addRemoveModalContent" data-modal="addRemoveModalContent">
                <a>
                    <i class="fa fa-bolt"></i>
                    <span class="nav-label"> Insights</span>
                </a>
            </li>
        </ul>
<!--
        &lt;!&ndash;List to be displayed in the sidebar when the 'adReporting' state is active&ndash;&gt;
        <ul side-navigation class="nav metismenu" id="side-menu" ng-class="{active: $state.includes('adReporting')}" ng-show="$state.includes('adReporting')">
            <li ng-class="{active: $state.includes('adReporting')}">
                <a><i class="fa fa-th-large"></i> <span class="nav-label">Sample for AdReporting</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('adReporting')}">
                    <li><a>Ad reporting</a></li>
                </ul>
            </li>
        </ul>
-->
    </div>
    <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 344.828px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.9; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>


</nav>

<script>
    $('.soonModel').click(function () {
        swal("Coming Soon!");
    });
</script>