<nav class="navbar-default navbar-static-side navbarFixed" ng-style="{'height':navbarHeight+'px'}" role="navigation" ng-controller="NavigationController">
    <div class="sidebar-collapse">
        <!--List to be displayed in the sidebar when the 'dashboardReporting' state is active-->
        <ul side-navigation class="nav metismenu" id="side-menu" ng-class="{active: $state.includes('reporting')}">
            <li class="nav-header">
                <div class="dropdown profile-element profile-picture" dropdown>
                    <a href="{{siteUrl}}" target="_blank"><img alt="Datapoolt" src="image/logo.png"/></a>
                </div>
                <div class="logo-element">
                    <a href="{{siteUrl}}" target="_blank"><img class="dataimage" alt="Datapoolt" src="image/logo-small.png"/></a>
                </div>
            </li>
            <li class="sideBar-wrapper">
                <a ng-click="createNewDashboard()">
                    <i class="icon icon-edit navigation-menu-icon"></i>
                    <span class="nav-label"> Blank Dashboard</span>
                </a>
                <div class="tooltip">Blank Dashboard</div>
            </li>
            <li  class="sideBar-wrapper">
                <a ng-click="stateValidation('recommendedDashboard')">
                    <i class="icon icon-browser navigation-menu-icon" style="font-size: 13px !important;"></i>
                    <span class="nav-label" style="padding-left: 13px;">Dashboard Templates</span>
                    <div class="tooltip">Dashboard Templates</div>
                </a>
            </li>
<!--
            <li class="sideBar-wrapper">
                <a ui-sref="app.reporting.dashboards">
                    <i class="icon icon-grid navigation-menu-icon"></i>
                    <span class="nav-label"> All Dashboards</span>
                    <div class="tooltip">All Dashboards</div>
                </a>
            </li>
-->
            <li class="sideBar-wrapper">
                <a ng-click="stateValidation('basicWidget')">
                    <i class="icon icon-presentation navigation-menu-icon"></i>
                    <span class="nav-label"> Add Widgets</span>
                    <div class="tooltip">Add Widgets</div>
                </a>
            </li>
            <li class="sideBar-wrapper">
                <a ng-click="stateValidation('fusionWidget')">
                    <i class="icon icon-expand navigation-menu-icon"></i>
                    <span class="nav-label"> Fusions</span>
                    <div class="tooltip">Fusions</div>
                </a>
            </li>
<!--
            <li class="sideBar-wrapper">&lt;!&ndash;class="md-trigger md-setperspective md-effect-19 addRemoveModalContent" data-modal="addRemoveModalContent"&ndash;&gt;
                <a ng-click="stateValidation('insights')">
                    <i class="icon icon-megaphone navigation-menu-icon"></i>
                    <span class="nav-label"> Insights</span>
                    <div class="tooltip">Insights</div>
                </a>
            </li>
-->
        </ul>
        <!--
                &lt;!&ndash;List to be displayed in the sidebar when the 'adReporting' state is active&ndash;&gt;
                <ul side-navigation class="nav metismenu" id="side-menu" ng-class="{active: $state.includes('adReporting')}" ng-show="$state.includes('adReporting')">
                    <li ng-class="{active: $state.includes('adReporting')}">
                        <a><i class="fa fa-th-large"></i> <span class="nav-label">Sample for AdReporting</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('adReporting')}">
                            <li><a>Ad reporting</a></li>
                        </ul>
                    </li>
                </ul>
        -->
    </div>
    <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 344.828px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.9; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>


</nav>


<script>
    $( document ).ready(function() {
        var minibar = $("#page-top").hasClass("mini-navbar");
        $('.tooltip').hide();

        $('.side-menu').hover(function(){
             $('.navbar-static-side').slide('slide', {
             direction: 'right'
             }, 2000);
        })
    });
    $('.tooltip').click(function() {
        $('.tooltip').hide();
    });





</script>

<script>
    $('.soonModel').click(function () {
        swal("Coming Soon!");
    });
</script>