<div style=" margin-right: 0px !important;margin-left: 0px !important;" class="row border-bottom"  ng-controller="TopNavbarController">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header topnavbar-header">
            <span minimaliza-sidebar class="menus-img"></span>
            <div>
                <span class="sessionName" style="float: right">
                       <h3 style="vertical-align: middle; color: #898989;padding-top: 17px; float: left">
                         Welcome {{userName}}&nbsp&nbsp
                       </h3>
                    <div  style="float: right">
                        <div class="topdropdown">
                            <button ng-click="getDropdown()" class="topdropbtn">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </button>
                            <div id="myDropdown" class="topdropdown-content">
                                <a class="navbar-minimalize minimalize-styl-1 md-trigger md-setperspective md-effect-19" ui-sref="app.reporting.dashboard.listProfile">
                                    Linked Profiles
                                </a>
                                <a class="navbar-minimalize minimalize-styl-1 md-trigger md-setperspective md-effect-19" ui-sref="app.changePassword" data-modal="settingModalContent" >
                                    Change Password
                                </a>
                                <a id="soonModel" class="navbar-minimalize minimalize-styl-1 md-trigger md-setperspective md-effect-19 addRemoveModalContent" data-modal="addRemoveModalContent">
                                    User Management
                                </a>
                                <a class="navbar-minimalize minimalize-styl-1" href="/signout">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
            </span>
            </div>

<!--
            <div class="tabs-container desk-view">
                    <ul class="nav nav-tabs" style="padding-left: 71px" id="tabs-container-desk-view">
                        <li class="active first-tab" style="height: 50px;"> <a data-toggle="tab" ui-sref="analyticsReporting/analyticsDashboardTemplate" style="padding-bottom: 10px;margin-right: 0px;"> <span></span> Marketing Dashboards</a></li>
                    </ul>
             </div>
            <div class="tabs-container response-view" style="display:none;">
                <ul class="nav nav-tabs" style="padding-left: 71px"  id="tabs-container-response-view">
                    <li class="active first-tab">
                        <a data-toggle="tab" ui-sref="analyticsReporting/analyticsDashboardTemplate">
                            <i class="fa fa-line-chart"></i>
                        </a>
                    </li>
                </ul>
            </div>
-->

        </div>
    </nav>
</div>
<script>
    $('#soonModel').click(function () {
        toastr.info('Coming Soon');
    });
</script>
