<div class="row border-bottom"  ng-controller="TopNavbarController">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header topnavbar-header">
            <span minimaliza-sidebar class="menus-img"></span>
            <span style="float: right">
                <a class="navbar-minimalize minimalize-styl-1" href="/signout" style="margin-top: 10px;">
                    <i class="fa fa-power-off fa-3x"></i>
                </a>
            </span>


            <span style="float: right">
<!--
                <div class="" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <span class="nav-label">Manage users</span>
                                <i class="fa fa-users fa-3x"></i>
                            </a>
                            <ul class="dropdown-menu" ng-controller="NavigationController">
                                <li class="md-trigger md-setperspective md-effect-19 addRemoveModalContent" data-modal="addRemoveModalContent"><a>Add / Remove User</a></li>
                                <li class="md-trigger md-setperspective md-effect-19 modifyUserModalContent" data-modal="modifyUserModalContent"><a>Modify User Permissions</a></li>
                                <li class="md-trigger md-setperspective md-effect-19 newAccountModalContent" data-modal="newAccountModalContent"><a>Create New Account</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
-->
                <a class="navbar-minimalize minimalize-styl-1 md-trigger md-setperspective md-effect-19 addRemoveModalContent" style="margin-top: 10px;" data-modal="addRemoveModalContent">
                    <i class="icon icon-profile-male topnavbar-menu-icon"></i>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li class="md-trigger md-setperspective md-effect-19 addRemoveModalContent" data-modal="addRemoveModalContent"><a>Add / Remove User</a></li>
                    <li class="md-trigger md-setperspective md-effect-19 modifyUserModalContent" data-modal="modifyUserModalContent"><a>Modify User Permissions</a></li>
                    <li class="md-trigger md-setperspective md-effect-19 newAccountModalContent" data-modal="newAccountModalContent"><a>Create New Account</a></li>
                </ul>
            </span>




            <span style="float: right">
                <a class="navbar-minimalize minimalize-styl-1 md-trigger md-setperspective md-effect-19" ui-sref="app.changePassword" data-modal="settingModalContent" style="margin-top: 10px;">
                    <i class="icon icon-key topnavbar-menu-icon"></i>
                </a>
            </span>


            <span class="sessionName" style="float: right">
                <h3 style="vertical-align: middle; color: white;padding-top: 13px;">
                    Welcome {{userName}}
                </h3>
            </span>
            <div class="tabs-container desk-view">
                    <ul class="nav nav-tabs" style="padding-left: 71px" id="tabs-container-desk-view">
                        <li class="active first-tab" style="height: 50px;"> <a data-toggle="tab" ui-sref="analyticsReporting/analyticsDashboardTemplate" style="padding-bottom: 10px;margin-right: 0px;"> <span></span> Marketing Dashboards</a></li>
                    </ul>
             </div>
            <div class="tabs-container response-view" style="display:none;">
                <ul class="nav nav-tabs" style="padding-left: 71px"  id="tabs-container-response-view">
                    <li class="active first-tab">
                        <a data-toggle="tab" ui-sref="analyticsReporting/analyticsDashboardTemplate">
                            <i class="fa fa-line-chart"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<script>
    $('#soonModel').click(function () {
        swal("Coming Soon!");
        $(this).removeClass("active");
        // adding classname 'active' to current click li
        $(this).addClass("noChange");
    });
</script>
