<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <a ui-sref="analyticsReporting/analyticsDashboardTemplate" class="btn btn-primary" style="margin-top:13px;"> <span></span> Reporting & Analytics</a>
            <a ui-sref="adReporting/adDashboardTemplate" class="btn btn-primary" style="margin-top:13px;"> <span ></span> Ad campaign Analytics</a>
            <!--<a href="" class="btn btn-primary" style="margin-top:13px;"> <span></span> Publishing and Monitoring</a>-->
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="api/v1/signout">
                    <i class="fa fa-sign-out"> </i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>