@media(max-width : 1120px) and (min-width : 750px){

    .product-right .product-image{
        max-width: 500px !important;
    }
    .mar{
        margin-right: 0px;
    }
    .client-row .row-wrapper{
        width:100% !important;
    }
    .btn-primary{
      margin-top: 5px !important;
    }



}
@media(max-width : 770px){
    .centered-logo .bottom-border{
        margin-top:179px;

    }
     .top-bar{
        height:300px !important;

    }
     .has-dropdown:hover{
         height:80px !important;

     }


   .drop-2:hover{
        height:90px !important;
    }

}





