/* custom style sheet */
.remove-border{border:none;}
.plus{position:relative;left: 2%;}
#one{
	overflow-x: scroll;
	width:2000px;
	padding-bottom: 15px;

   

}
.scroll-box{width:11%;}
.ibox-title{padding-top:7px;}
.ibox-title h5{margin-bottom:0px;}
#calender{display:inline;}
#reportrange{display:inline;}
#icons-part{display:inline;}
.fa-2x {
    font-size: 1.3em;
    margin: 0px 2px;
}
.title-right{margin-top: 6px;text-align:right;}
.margin-space{margin: 0px 5px 15px;}
#calender > input {
    border: none;
}
.border-main{border:3px solid #959595;border-top: none;padding-top:0px;padding-bottom: 0px;}
.margin-main{margin:0;}
.text-center{text-align: center;}
.btn-large-dim{margin-top:12px;margin-right:0 !important;}
.social-meet{margin:5px;padding:30px 26px;}
.sub-border{padding: 20px 10px 20px !important;}
.next-cancel{text-align: right;margin-bottom: 5px;}
.social-main{margin-top: 15px;}

.modal-header a{color:#d2d2d2;}
.modal-header .active,.accountname > h3{color:#E94343 !important;}

.app-options li{padding:0px 25px;}
.btn-box {
    padding: 2px 30px;
    background-color: #E94343;
    border:none;
}


.btn-box:hover{background-color:#E94343;}
#modal-heading{padding:0px !important;margin:0px;}
#modal-heading div a{font-size:15px;}
#modal-main-content{margin-bottom: 30px;}
.title-bg{background-color:#E94343;padding:8px 0px; }
.accountname{margin-bottom: 30px;}
.profile,.where{
    box-shadow: 1px 2px 3px #959595;
    padding: 0px !important;
    margin: 0px 10px;
}
.title-bg h4{color:#fff;}

.red-tooltip + .tooltip > .tooltip-inner {background-color: #fff;color:#000;border-radius: 5px;box-shadow: 1px 2px 3px #959595;border:1px solid #959595;}
.tooltip.top .tooltip-arrow{border-color:#fff;}
.panel-body{padding:0px;}
.mini-navbar{padding-right:0px;}
.profilefb{margin:15px 0px 35px;text-align: center;}
.profile > .ibox,.where > .ibox{margin-bottom: 0px;}
.where .ibox-content{padding-bottom: 0px;}
.profile .ibox-content{padding-bottom: 33px;}
.title-bg h4{margin:0px;}
.select2.select2-container.select2-container--default.select2-container--below{width:156px !important;}
.fb-label{padding-top:0px !important;}
.where-multiple{padding:0px;}
