<div class="modal-dialog modal-lg"  ng-init="open()">
    <script type="text/ng-template" id="modal.ejs">
        <div class="modal-content" ng-controller="BasicWidgetController" ng-init="changeViewsInBasicWidget('step_one')">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add a Basic Widget</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" ng-show="currentView === 'step_one'">
                            <div class="col-lg-12">
                                <div class="wizard clearfix">
                                    <div class="steps clearfix">
                                        <ul role="tablist">
                                            <li role="tab" class="first current" aria-disabled="false" aria-selected="true"><a aria-controls="wizard-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> Select an app</a></li>
                                            <li role="tab" class="disabled" aria-disabled="true"><a aria-controls="wizard-p-1"><span class="number">2.</span> Choose a metric</a></li>
                                            <li role="tab" class="disabled" aria-disabled="true"><a aria-controls="wizard-p-1"><span class="number">3.</span> Authenticate profile</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="currentView === 'step_two'">
                            <div class="col-lg-12">
                                <div class="wizard clearfix">
                                    <div class="steps clearfix">
                                        <ul role="tablist">
                                            <li role="tab" class="done" aria-disabled="true" aria-selected="true"><a aria-controls="wizard-p-0"><span class="number">1.</span> Select an app</a></li>
                                            <li role="tab" class="current" aria-disabled="false"><a aria-controls="wizard-p-1"><span class="current-info audible">current step: </span><span class="number">2.</span> Choose a metric</a></li>
                                            <li role="tab" class="disabled" aria-disabled="true"><a aria-controls="wizard-p-1"><span class="number">3.</span> Authenticate profile</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="currentView === 'step_three'">
                            <div class="col-lg-12">
                                <div class="wizard clearfix">
                                    <div class="steps clearfix">
                                        <ul role="tablist">
                                            <li role="tab" class="done" aria-disabled="true" aria-selected="true"><a aria-controls="wizard-p-0"><span class="number">1.</span> Select an app</a></li>
                                            <li role="tab" class="done" aria-disabled="true"><a aria-controls="wizard-p-1"><span class="number">2.</span> Choose a metric</a></li>
                                            <li role="tab" class="current" aria-disabled="false"><a aria-controls="wizard-p-1"><span class="current-info audible">current step: </span><span class="number">3.</span> Authenticate profile</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="scrollbar" id="scroller">
                        <div class="row" ng-show="currentView === 'step_one'">
                            <div class="col-lg-12">
                                <div ng-repeat="data in channelList" name="{{data._id}}" class="col-lg-3 widget-icons" ng-click="storeChannel();changeViewsInBasicWidget('step_two')">
                                    <img src="image/lightbox/{{data.name}}.png" style="max-width: 100%;max-height: 100%"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="currentView === 'step_two'">
                            <div class="col-lg-12">
                                <div ng-repeat="MetricName in metricList" name="{{MetricName.name}}" class="col-lg-3 widget-icons" ng-click="storeMetric();changeViewsInBasicWidget('step_three')">
                                    <h4>{{MetricName.name}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="currentView === 'step_three'">
                            <div class="col-lg-12" style="background-color: #f3f3f4">
                                <div class="row" style="margin: 5px">
                                    <div class="col-lg-12" style="margin: 0px">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title" style="vertical-align: middle">
                                                <h5><img src="image/lightbox/{{storedChannelName}}.png" align="left" style="max-height: 30px;max-width: 30px"/>{{storedChannelName}} Account</h5>
                                            </div>
                                            <div class="ibox-content" style="display: block;">
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <div class="col-lg-9">
                                                            <select class="form-control m-b" ng-model="profileOptionsModel" id="profileOptions" ng-options="profiles as profiles.name for profiles in profileList" ng-change="getObjectsForChosenProfile()">
                                                                <option value="">Select a Profile</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-9">
                                                            <select class="form-control m-b" ng-model="objectOptionsModel" id="objectOptions" ng-options="objects as objects.name for objects in objectList">
                                                                <option value="">Select an item</option>
                                                            </select>
                                                            <div class="infont col-md-3 col-sm-4"><a ng-click="refreshObjectsForChosenProfile()"><i class="fa fa-refresh"></i></a></div>
                                                        </div>
                                                    </div>
<!--
                                                    <div class="form-group">
                                                        <div class="col-lg-9">
                                                            <select class="form-control m-b" ng-model="profileOptionsModel" id="profileOptions" ng-options="profiles as profiles.profileName for profiles in promises"></select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-9">
                                                            <select class="form-control m-b" ng-model="objectOptionsModel" id="objectOptions" ng-options="objects as objects.name for objects in profileOptionsModel.profileObjects"></select>
                                                            <div class="infont col-md-3 col-sm-4"><a href="#"><i class="fa fa-refresh"></i></a></div>
                                                        </div>
                                                    </div>
-->
                                                    <div class="form-group">
                                                        <div class="col-lg-10" style="margin: 0px;padding: 0px">
                                                            <div class="col-lg-5" style="float: left;margin: 0px">
                                                                <a ><button type="button" class="btn btn-link" ng-click="addNewProfile()"><i class="fa fa-plus-square-o"></i>   Add Profile</button></a>
                                                            </div>
                                                            <div class="col-lg-5" style="float: right;margin: 0px">
                                                                <a><button type="button" class="btn btn-link" ng-click="removeExistingProfile()"><i class="fa fa-trash"></i>   Remove Profile</button></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button class="btn btn-white" id="basicWidgetBackButton1" ng-hide="currentView === 'step_two'" ng-click="changeViewsInBasicWidget('step_two')">Back</button>
                        <button class="btn btn-white" id="basicWidgetBackButton2" ng-show="currentView === 'step_two'" ng-click="changeViewsInBasicWidget('step_one')">Back</button>
                        <button class="btn btn-primary" id="basicWidgetNextButton" ng-click="createAndFetchBasicWidget();ok()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>