<script src="/js/modernizr.custom.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/js/hideShowPassword.min.js"></script>
<script src="js/sweetAlert/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/sweetAlert/sweetalert.css">

<script>
    $(function() {
        // Example 1
        $('#retypePassword,#newPassword,#currentPassword').hideShowPassword({
            // Creates a wrapper and toggle element with minimal styles.
            innerToggle: true,
            // Makes the toggle functional in touch browsers without
            // the element losing focus.
            touchSupport: Modernizr.touch
        });
    });
</script>
<div class="modal-header white-bg grid-header" >
    <p>Change Password</p>
</div>
<div class="wrapper wrapper-content gridAlign greyish-bg" ng-controller="ChangePasswordController" ng-style="{'height': docHeight+'px'}">
<div clas="row">

<form id="identicalForm" name="identicalForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label label-font">Current Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control login-field login-field-password" name="currentPassword" ng-model="currentPassword" id="currentPassword" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label label-font">New Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control login-field login-field-password" name="newPassword"  ng-model="newPassword" id="newPassword" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label label-font">Retype password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control login-field login-field-password" name="retypePassword" id="retypePassword" required/>
        </div>
        <span id="pwmatch" class="glyphicon" style="color:#FF0004; margin-top: 6px"></span> <span id="password-res"></span>
    </div>
    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-3 center-768">
            <button type="submit" id="btn-submit" class="btn btn-primary changePassword" ng-click="changePassword()">Submit</button>
        </div>
    </div>
</form>
    </div>
    </div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#newPassword,#retypePassword").keyup(function() {


            if(($("#newPassword").val() == $("#retypePassword").val()) && ($("#newPassword").val() != "") && ($("#retypePassword").val() !="")){
                $("#pwmatch").removeClass("glyphicon-remove");
                $("#pwmatch").addClass("glyphicon-ok");
                $("#pwmatch").css("color","#00A41E");
                $("#password-res").html("Password Match");

            }
            else{
                $("#pwmatch").removeClass("glyphicon-ok");
                $("#pwmatch").addClass("glyphicon-remove");
                $("#pwmatch").css("color","#FF0004");
                $("#password-res").html("Password Mismatch");

            }
        });
     /*  $('form').bind('submit', function(e) {
            var res = $("#password-res").html();

            if(res=="Password Mismatch"){
                e.preventDefault();
              //  alert("sddfds");
            } else {
                swal(
                        {
                            title: "Are you sure?",
                            text: "You will be logged out and must login again with your new password!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, change my password!",   closeOnConfirm: false },
                        function(){
                            $("#identicalForm").submit();
//                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        });
            }

        });*/


   /*     $('#btn-submit').on('click',function(e){
            e.preventDefault();
            var form = $(this).parents('form');
            swal({
                title: "Are you sure?",
                text: "You will be logged out and must login again with your new password!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, change my password!",
                closeOnConfirm: false
            }, function(isConfirm){
                if (isConfirm) form.submit();
            });
        })
*/


    });
</script>
