<div>
    <div gridster="gridsterOptions">
        <ul>
            <li gridster-item="widget" ng-repeat="widgets in dashboard.widgets">
                <div class="box" ng-controller="CustomWidgetController">
                    <div class="box-header">
                            <h3>{{widgets.name}}</h3>
                            <a title="settings" ng-click="openSettings(widgets)"><i class="fa fa-cog"></i></a>
                            <a title="Remove widget" ng-click="remove(widgets)"><i class="fa fa-minus-square"></i></a>
                    </div>
                    <div class="box-content"></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div ui-view="lightbox"></div>
