<div ng-init="dashboardConfiguration()">
    <div id="dashboardLayout" class="dashboardLayout">
        <div class="border-bottom dashboardTitle white-bg">
            <div class="row">
                <div class="col col-sm-12" id="CustomTemplate">
                    <div class="dashboardTemplate-items">
                        <div class="col-sm-3 dashboardName">
                            <a title="Click to rename this Dashboard" id='reset-btn' href="#" ng-model="dashboardName" editable-text="dashboard.dashboardName"   onaftersave="changeDashboardName()"  e-maxlength="35">
                                <pre ng-style="!dashboard.dashboardName  && {'color':'#999'}  || dashboard.dashboardName && {'color':'#000'}">{{dashboard.dashboardName || 'Name your dashboard'}}</pre>
                                <i class="fa fa-pencil hover-icon" aria-hidden="true" style="font-size: 1.5em;margin-top: 6px;color:#000;display:none"></i>
                            </a>

                        </div >
                        <div class="col-sm-4">
                            <div class="daterange daterange--double three"></div>
                        </div>
                        <div class="col-sm-3 pull-right dashboardTitleIcons" id="dashboardTitleIcons" style="padding-top: 5px;">
                            <form class="dashboardIcons">
                                <a>
                                    <div class="title-icons" ng-click="deleteDashboard()">
                                        <i class="glyphicon glyphicon-trash favigon-img" style="color:#2f4050;font-size:22px" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete"></i>
                                    </div>
                                </a>
                                <a class="md-trigger md-setperspective md-effect-19" ng-click="exportModal('app.reporting.dashboard.exportModal')" ng-show="loadedWidgetCount == dashboard.widgets.length"> <!-- ng-click="exportModal('app.reporting.dashboard.exportModal')" -->
                                    <div class="title-icons navigation-menu-icon">
                                        <i class="icon icon-download" style="color:#2f4050;font-size: 25px !important;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Export"></i>
                                    </div>
                                </a>
                                <a ng-click="setAutoArrange()"  ng-show="loadedWidgetCount == dashboard.widgets.length">
                                    <div class="title-icons">
                                        <i class="icon icon-adjustments navigation-menu-icon" aria-hidden="true" style="color:#2f4050;font-size: 25px !important;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Auto-arrange"></i>
                                    </div>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallel-dashboard" ng-if="widgetsPresent == false">
            <a ui-sref="app.reporting.dashboard.basicWidget({widgetType:'basic'})"><div class="empty-dashboard"><span>Add your first widget</span></div></a>
        </div>
        <div class="white-bg dashboardContent">
            <div gridster="gridsterOptions" class="row" style="border: 1px solid #efefef;min-height: 500px" id="gridsterItems"><!--ng-switch-when="true"-->
                <ul>
                    <li gridster-item="widget" ng-repeat="(widgetIndex,widget) in dashboard.widgets">
                        <div class="box getBox-{{widget.id}}" ng-controller="CustomWidgetController" id="{{widget.id}}">
                            <div class="box-header" id="getWidgetColor-{{widget.id}}" ref="{{dashboard.widgetData[widgetIndex].color}}" style="background-color: #ffffff;"> <!--ng-style="{'background-color': dashboard.widgetData[widgetIndex].color}"-->
                                <div style="float: left;width: 93%;">
                                    <img src="image/thumbnail/{{widget.channelName}}.png" style="float:left;vertical-align: super;max-height: 31px; max-width: 50px; padding:5px"/>
                                    <h3 ng-style="widget.sizeX!=1  && {'width':'80%'}  || widget.sizeX==1 && {'width':'50%'} "><a title="Click to Rename this widget" style="float:left;border-bottom:0px!important;padding:7px!important;color:#000!important" href="#" editable-text="dashboard.widgetData[widgetIndex].name" buttons="no" onaftersave="changeWidgetName(widget,dashboard.widgetData[widgetIndex].name)"  e-maxlength="35">
                                            <span>{{dashboard.widgetData[widgetIndex].name || 'Name your widget'}}</span>
                                            <!--
                                                                                        <i class="fa fa-pencil hover-icon" aria-hidden="true" ng-style="widget.sizeX>2  &&{'margin-top': '-15px','float':'right','margin-left': '100%'} || widget.sizeX==1  &&{'margin-top': '-16px','float':'none','position': 'relative','margin-left': '5%'} || widget.sizeX==2  &&{'margin-top': '-15px','float':'none','margin-left': '125px'}" style="font-size: 1em;color:#000;display:none"></i>
                                            -->
                                        </a>
                                    </h3>
                                </div>
                                <div class="dropdown" style="float: right; margin-top: 7px;margin-right: -25px;">
                                    <a title="settings" ng-click="showSettings(widget.id);"><i class="fa fa-cog"></i></a>
                                    <div id="settingsDropdown-{{widget.id}}" class="dropdown-content">
                                        <a title="Alerts" ng-click="alertModal('app.reporting.dashboard.alertModal',widget)" ng-hide="widget.widgetType == 'customFusion' || widget.isAlert == false"><i class="fa fa-bell-o"></i> Alerts</a>
                                        <a title="Toggle Legends" ng-click="toggleLegends(widget.id)"><i class="fa fa-filter"></i> Filter</a>
                                        <a title="Delete Widget" ng-click="removeWid(widget);deleteWidget(widget)"><i class="glyphicon glyphicon-trash favigon-img"></i>Delete</a>
                                        <a title="Click to fuse this widget with other widgets" ng-show="widget.widgetType != 'customFusion'" ng-click="openSettings(widget)"><i class="fa fa-cog"></i> Fusion</a>
                                        <a title="Find out how to send data for custom widgets - Documentation" ng-if="widget.widgetType==='custom'" href="/customDataDocumentation" target="_blank" class="findOutHow">Custom Documentation</a>
                                    </div>
                                </div>
                            </div>

                            <div class="box-content" style="vertical-align: middle" ng-style="{position:(isMobile?'static':'absolute')}">
                                <div ng-if="dashboard.widgetData[widgetIndex].visibility == false">
                                    <div class="spiner-example" id="widgetData-{{widget.id}}">
                                        <div class="sk-spinner sk-spinner-double-bounce">
                                            <div class="sk-double-bounce1"></div>
                                            <div class="sk-double-bounce2"></div>
                                        </div>
                                    </div>
                                    <div class="errorWidgetData" id="errorWidgetData-{{widget.id}}">
                                        <div class="row" style="margin: 0px;height: 100%">
                                            <div style="height:99%;">
                                                <div style="position:relative; top:36%; text-align:center; padding-right:20px">
                                                    <p style="word-wrap:break-word;font-size: 10px;">Your credential is insufficient to fetch data for this metric</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" errorWidgetData  background-color" id="errorWidgetTokenexpire-{{widget.id}}" style="margin-top: 0%;">
                                        <div class="row" style="margin: 0px;height: 100%">
                                            <div style="height:99%;">
                                                <div style="position:relative; top:25%; text-align:center; padding-right:20px">
                                                    <p style="word-wrap:break-word;font-size: 10px;">Access to one or more profiles has expired</p>
                                                    <a ui-sref="app.reporting.dashboard.listProfile"><i style="color: #23527c;" class="fa fa-refresh" aria-hidden="true"> </i><p style="color:#000;font-size: 10px">  Refresh</p></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row getWidgetGraph" style="height: 100%;margin:0px;" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                    <div ng-repeat="(chartIndex,chart) in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'lineChart'  || chart.options.chart.type=== 'pieChart' || chart.options.chart.type=== 'multiBarChart' || chart.options.chart.type=== 'multiChart'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row scrollbar scroller" style="margin:0px;"  ng-style="calculateSummaryHeight(widget.sizeY,chart.data.length)">
                                            <ul style="height:100%;font-size:12px;padding-left: 5px;">
                                                <li  ng-repeat="data in chart.data" ng-class="calculateColumnWidth(chart.data.length,widget.sizeX,dashboard.widgetData[widgetIndex].layoutOptionsX)" ng-style="calculateRowHeight(data,chart.data.length,widget.sizeX,widget.sizeY,dashboard.widgetData[widgetIndex].layoutOptionsX)" style="text-align: center;padding-top: 1px;padding-left:0px;padding-right: 2px;font-size: 1.0em!important;" id="li-{{widget.id}}-{{$index}}" ><!--size-watcher-width="data.mywidth"-->
                                                    <div style="margin: 0px;height: 100%;overflow: hidden;white-space: nowrap;color: #000000;text-align: center;">
                                                        <p ng-show="data.showComparision==false" ng-style="{'color': '#979797', 'font-family' : 'Heebo-Medium','font-size':'10px', 'text-transform':'uppercase', 'background-color': 'whitesmoke', 'border-bottom': '4px solid', 'border-color': data.color, 'padding-left': '3px', 'border-right': '3px solid white'}" style="margin:0px 0px 3px!important;font-weight: bold;"> {{data.key}} - {{data.summaryDisplay}}</p>
                                                        <p ng-show="data.showComparision==true" ng-style="{'color': '#979797', 'font-family' : 'Heebo-Medium','font-size':'14px', 'text-transform':'uppercase', 'background-color': 'whitesmoke', 'border-bottom': '4px solid', 'border-color': data.color, 'padding-left': '3px', 'border-right': '3px solid white'}" style="margin:0px 0px 3px!important;font-weight: bold;"> {{data.key}}</p>
                                                        <p ng-show="data.showComparision==true" ng-style="{'color': '#979797', 'font-family' : 'Heebo-Medium','font-size':'14px', 'text-transform':'uppercase', 'padding-left': '3px', 'border-right': '3px solid white'}" style="margin:0px 0px 3px!important;font-weight: bold;"> {{data.summaryDisplay}}</p>
                                                        <!--<p ng-style="{'color': '#979797', 'font-family' : 'Heebo-Medium','font-size':'12px', 'text-transform':'uppercase', 'background-color': 'whitesmoke'}" style="margin:0px 0px 3px!important;font-weight: bold;">{{data.key}} - <b ng-style="{'color':data.color, 'font-family' : 'Heebo-Medium'}"> {{data.summaryDisplay}} </b></p>-->
                                                        <p ng-if="chart.options.chart.type != 'pieChart'" ng-show="data.showComparision==true" style="margin:1px 0px 1px!important;overflow: hidden">{{data.period}}: <span ng-if="data.variance !=0">{{data.variance}}%  </span><i ng-if="data.arrow==='up' && data.variance !=0" style="font-size: 0.8em;color:#2A8539" class="fa fa-arrow-up" aria-hidden="true"></i><i ng-if='data.arrow==="down" && data.variance !=0' style="font-size: 0.8em;color:#FF1B1B" class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                                        <!--<p ng-if="chart.options.chart.type != 'pieChart'" style="font-size: 14px;font-family: Heebo-Light;">{{data.period}}- <span ng-if="data.variance !=0">{{data.variance}}%</span><i ng-if="data.arrow==='up' && data.variance !=0" style="font-size: 0.8em;color:#2A8539" class="fa fa-arrow-up" aria-hidden="true"></i><i ng-if='data.arrow==="down" && data.variance !=0' style="font-size: 0.8em;color:#FF1B1B" class="fa fa-arrow-down" aria-hidden="true"></i></p>-->
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row" style='margin:0px' ng-style="calculateChartHeight(widget.sizeY,chart.data.length)">
                                            <nvd3 options="chart.options" data="chart.data" api="chart.api" config="{refreshDataOnly:true, deepWatchDataDepth: 0}" events="events" ng-if="dashboard.widgetData[widgetIndex].visibility == true"></nvd3>
                                        </div>
                                    </div>
                                    <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'emptyCharts'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row" style="margin: 0px;height: 100%">
                                            <div events="events" style="height: 99%;" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                <div style="position:relative; top: 36%; text-align: center" ng-repeat="data in chart.data">
                                                    <p style="word-wrap:break-word;">{{data.message}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'instagramPosts'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row" style="margin: 0px;height: 100%" id='chartTable-{{widget.id}}'>
                                            <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data">
                                                        <div class="col-lg-1 listed-image" >
                                                            <a  href="{{data.links}}" target="_blank"><img ng-src="{{data.image}}" height="50px" widget="50px"/></a>
                                                        </div>
                                                        <div class="col-lg-11 aside">
                                                            <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                            <div class="impression">
                                                                <div class="likes"><span>likes:{{data.likes}}</span></div>
                                                                <div class="comment"><span>Comments:{{data.comments}}</span></div>
                                                                <div class="date"><span>{{data.date}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'highEngagementTweets'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row" style="margin: 0px;height: 100%" id='chartTable-{{widget.id}}'>
                                            <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data" ng-if="data.postComment">
                                                        <div class="col-lg-12">
                                                            <div class="postComment"><a ng-if="data.links.media" class="apiLink" href="{{data.links.media[0].expanded_url}} " target="_blank">{{data.postComment}}</a><a ng-if="!data.links.media[0]" class="apiLink" href="https://twitter.com" target="_blank">{{data.postComment}}</a></div>
                                                            <div class="impression">
                                                                <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                <div class="comment"><span>Retweets: {{data.reTweet}}</span></div>
                                                                <div class="date"><span>{{data.date}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'highestEngagementLinkedIn'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row" style="margin: 0px;height: 100%" id='chartTable-{{widget.id}}'>
                                            <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data" ng-if="data.postComment">
                                                        <div class="col-lg-12">
                                                            <div class="postComment"><a class="apiLink" href="{{data.link}} " target="_blank">{{data.postComment}}</a></div>
                                                            <div class="impression">
                                                                <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                <div class="comment"><span>shares: {{data.shares}}</span></div>
                                                                <div class="comment"><span>clicks: {{data.clicks}}</span></div>
                                                                <div class="comment"><span>impressions: {{data.impressions}}</span></div>
                                                                <div ng-style="widget.sizeX!=2  && {'float':'right'}  || widget.sizeX==2 && {'float':'left'} " ><span>{{data.date}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="col-lg-12" style="position: relative;top:40%;text-align: center;" ng-if="!chart.data.postComment">-->
                                                    <!--<span >No Updates available</span>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'gaTopPagesByVisit'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row" style="margin: 0px;height: 100%" >
                                            <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true" ng-init="limitScroll=20">
                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                    <div class="col-xs-12 toplisted" ng-repeat="data in chart.data | limitTo: limitScroll" ng-if="data.pagePath">
                                                        <div class="col-xs-10" style="float:left;overflow: hidden" >{{data.pagePath}}</div>
                                                        <div class="col-xs-2" style="float:left;text-align: right">{{data.pageVisits}}</div>
                                                    </div>
                                                    <div class="showmore" style="text-align:center" ng-show="chart.data.length>20">
                                                        <a href ng-click="limitScroll=(limitScroll+10)" ng-show="limitScroll<chart.data.length">Show More</a>
                                                        <span ng-show="limitScroll>20&&limitScroll<chart.data.length">|</span>
                                                        <a href ng-click="limitScroll=(limitScroll-10)" ng-show="limitScroll>20">Show Less</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'pinterestEngagementRate'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row" style="margin: 0px;height: 100%" id='chartTable-{{widget.id}}'>
                                            <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data">
                                                        <div class="col-lg-12">
                                                            <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                            <div class="impression">
                                                                <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                <div class="comment"><span>Repins: {{data.repin}}</span></div>
                                                                <div class="date"><span>{{data.date}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'pinterestLeaderboard'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row" style="margin: 0px;height: 100%" id='chartTable-{{widget.id}}'>
                                            <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                    <div class="col-lg-12 listed"  ng-repeat="data in chart.data">
                                                        <div class="col-lg-12">
                                                            <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                            <div class="impression">
                                                                <div class="likes"><span>collaborators: {{data.collaborators}}</span></div>
                                                                <div class="comment"><span>pins: {{data.followers}}</span></div>
                                                                <div class="comment"><span>followers: {{data.pins}}</span></div>
                                                                <div class="date"><span>{{data.date}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'vimeoTopVideos'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                        <div class="row" style="margin: 0px;height: 100%" id='chartTable-{{widget.id}}'>
                                            <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data" ng-if="data.title">
                                                        <div class="col-lg-1 listed-image" >
                                                            <a  href="{{data.link }}" target="_blank"><img ng-src="{{data.picture}}" height="50px" widget="50px" /></a>
                                                        </div>
                                                        <div class="col-lg-11 aside">
                                                            <div class="postComment"> <a  class="apiLink" href="{{data.link }}" target="_blank">  {{data.title}}</a></div>
                                                            <div class="impression">
                                                                <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                <div class="likes"><span>Views: {{data.views}}</span></div>
                                                                <div class="date"><span>{{data.date}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="context widgetTransparentImage" id="widgetTransparentImage-{{widget.id}}" ng-hide="tempDashboard" ng-click="callThePosition($event,widget.id)" style="width: 100%;height: 100%;"></div>-->
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view="lightbox"></div>
        <div class="md-modal md-effect-19" id="comingSoon">
            <div class="md-content">
                <h3>Settings</h3>
                <div style="text-align: center;">
                    <h2>Coming Soon!</h2>
                    <button class="btn btn-primary button-mode md-close settingClose">OK</button>
                </div>
            </div>
        </div>
        <script src="js/datePicker/Calendar.js"></script>

    </div>
</div>