<div ng-init="dashboardConfiguration()" id="dashboardLayout">
    <div class="border-bottom dashboardTitle white-bg">
        <div class="row">
            <div class="col col-sm-12">
                <div class="col-sm-4">
                    <form class="dashboardIcons" ng-submit="editDashboardName(dashboardName)">
                        <a ui-sref="app.reporting.dashboard.dashboardName">
                            <h2>Name your dashboard</h2>
                            <!--<input type="text" placeholder="Name your dashboard" class="form-control" ng-model="dashboardName">-->
                        </a>
                        <!--<a ng-click="editDashboardName(dashboardName)"><i class="fa fa-pencil"></i></a>-->
                    </form>
                </div>
                <div class="col-sm-4">
                    <form class="dashboardCalendarHolder">
                        <a style="vertical-align: baseline">
                            <input date-range-picker id="" name="form-control dateRange" type="text" ng-model="date" options="opts" required style="background: none;border: medium none;font-size: 20px;font-weight: 500;vertical-align: middle"/>
                        </a>
                    </form>
                </div>
                <div class="col-sm-4">
                    <form class="dashboardIcons">
                        <a><div class="title-icons"><i class="fa fa-minus-square"></i><div>Delete</div></div></a>
                        <a><div class="title-icons"><i class="fa fa-mail-forward"></i><div>Email</div></div></a>
                        <a><div class="title-icons"><i class="fa fa-file-pdf-o"></i><div>Export</div></div></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch="config.visible">
        <div ng-switch-default>
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>
        <div gridster="gridsterOptions" class="row" style="border: 1px solid #e8e8e8;min-height: 500px" ng-switch-when="true">
            <ul>
                <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
                    <div class="box" ng-controller="CustomWidgetController">
                        <div class="box-header">
                            <h3>{{widget.name}}</h3>
                            <a title="settings" ng-click="openSettings(widget)"><i class="fa fa-cog"></i></a>
                            <a title="Remove widget" ng-click="remove(widget);deleteWidget(widget)"><i class="fa fa-minus-square"></i></a>
                        </div>
                        <div class="box-content" ng-switch="widget.visibility">
                            <div ng-switch-default>
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            </div>
                            <nvd3 options="widget.chart.options" data="widget.chart.data" api="widget.chart.api" config="config" events="events" ng-switch-when="true"></nvd3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view="lightbox"></div>
</div>