<!-- light box content start here --> <!-- first content -->

<div class="modal inmodal" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <div class="row" id="modal-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="col-md-4  text-center"><a href="#" class="active" title="Select Your App">Step 1 : Select an app</a></div>
                    <div class="col-md-4  text-center"><a href="#"  title="Choose your metrics">Step 2 : Choose your metrics</a></div>
                    <div class="col-md-4  text-center"><a href="#" title="Link your profile">Step 3 : Link your profile</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row firstline-app">
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet high">
                            <a href="" class="social-app" ><img src="image/lightbox/g.png"height="40" width="110"></a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/fbad.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/g.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/gad.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/gadd.png"height="40" width="110"></div></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row secondline-app">
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/gplus.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/linkedin.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/twit.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/twits.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/youtube.png"height="40" width="110"></div></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row thirdline-app">
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/pin.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/mail.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/monitor.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/g.png"height="40" width="110"></div></div>
                        <div class="col-lg-2 col-md-2 col-sm-2  text-center gray-bg social-meet"><div><img src="image/lightbox/g.png"height="40" width="110"></div></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="modal-footer">
                    <div>
                        <a href="#"><button type="button" class="btn btn-danger btn-box" data-dismiss="modal">Cancel</button></a>
                        <a data-toggle="modal" data-target="#myModal2" data-dismiss="modal" ><button type="button" class="btn btn-primary btn-box" id="next1" >Next</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- second content start here -->

<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <div class="row" id="modal-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="col-md-4  text-center"><a href="#"  title="Select Your App">Step 1 : Select an app</a></div>
                    <div class="col-md-4  text-center"><a href="#" class="active" title="Choose your metrics">Step 2 : Choose your metrics</a></div>
                    <div class="col-md-4  text-center"><a href="#" title="Link your profile">Step 3 : Link your profile</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div ng-controller="MetricCtrl" class="modal-body">
                <!--<a href="" ng-click="getMetric()"><button type="button" class="btn btn-primary btn-box">Add Account</button></a>-->
                <div ng-repeat="metric_name in metList">
                   <span ng-controller="MetricSend"> <a ng-click="postMetric(metric_name)"> {{metric_name.name}} </a> </span>
                </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;display:inline"><img src="image/lightbox/fb.png"height="30" width="100"></div>
                    <div>
                        <a data-toggle="modal" data-target="#myModal1" data-dismiss="modal"><button type="button" class="btn btn-danger btn-box">Back</button></a>
                        <a data-toggle="modal" data-target="#myModal3" data-dismiss="modal"><button type="button" class="btn btn-primary btn-box" id="next2" >Next</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- third content start here -->

<div class="modal inmodal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <div class="row" id="modal-heading">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="col-md-4  text-center"><a href="#"  title="Select Your App">Step 1 : Select an app</a></div>
                    <div class="col-md-4  text-center"><a href="#" title="Choose your metrics">Step 2 : Choose your metrics</a></div>
                    <div class="col-md-4  text-center"><a href="#" class="active" title="Link your profile">Step 3 : Link your profile</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="accountname text-center"><h3>Account Name</h3></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 profile">
                        <div class="ibox">
                            <div class="title-bg">
                                <h4 class="text-center">Link Your Profile</h4>
                            </div>
                            <div class="ibox-content">
                                <form class="form-horizontal">
                                    <div class="form-group "><label class=" col-lg-6 control-label fb-label">Google Accounts </label>

                                       <span ng-controller="ProfileCtrl"> <select ng-click="getProfile()" data-placeholder="Choose a page" class="chosen-select col-lg-5 "  tabindex="2">
                                            <option ng-repeat="accProfile in proPag" value=””>{{accProfile.email}}</option>
                                        </select>
                                       </span>
                                    </div>

                                    <div class="form-group "><label class=" col-lg-6 control-label fb-label">Pages</label>

                                        <select data-placeholder="" class="chosen-select col-lg-5" tabindex="2">
                                            <option value="Profile1" class="profile-click">Choose a page</option>
                                            <option value="Profile1" class="profile-click">Metroweddings</option>
                                            <option value="Profile1" class="profile-click">KC windoors</option>
                                        </select>
                                    </div>

                                    <a href="/api/v1/auth/google"> <button type="button" class="btn btn-primary btn-box">Add Account</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-5 where">-->
                    <!--<div class="ibox">-->
                    <!--<div class="title-bg">-->
                    <!--<h4 class="text-center">Where?</h4>-->
                    <!--</div>-->
                    <!--<div class="ibox-content">-->
                    <!--<form class="form-horizontal">-->
                    <!--<div class="form-group">-->
                    <!--<div class="col-lg-2"></div>-->
                    <!--<select data-placeholder="" class="chosen-select col-lg-8"  tabindex="2">-->
                    <!--<option value="Profile1" class="profile-click">Profile 1</option>-->
                    <!--<option value="Profile2" class="profile-click">Profile 2</option>-->
                    <!--<option value="Profile3" class="profile-click">Profile 3</option>-->
                    <!--<option value="Profile4" class="profile-click">Profile 4</option>-->
                    <!--</select>-->
                    <!--<div class="col-lg-2"></div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<div class="col-lg-2"></div>-->

                    <!--<select data-placeholder="Dashboards" class="chosen-select col-lg-8"  tabindex="2"></select>-->


                    <!--<div class="col-lg-2"></div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<div class="col-lg-2"></div>-->
                    <!--<div class="col-lg-8 where-multiple">-->
                    <!--<select multiple="" class="form-control">-->
                    <!--<option class="profile-click">Profile 1</option>-->
                    <!--<option class="profile-click">Profile 2</option>-->
                    <!--<option class="profile-click">Profile 3</option>-->
                    <!--<option class="profile-click">Profile 4</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-lg-2"></div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-1"></div>
                </div>
                <div class="modal-footer">
                    <div>
                        <a data-toggle="modal" data-target="#myModal2" data-dismiss="modal"><button type="button" class="btn btn-danger btn-box">Back</button></a>
                        <a href="#"><button type="button" class="btn btn-primary btn-box" id="next3">Next</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
