<div class="modal-dialog modal-lg"  ng-init="open()">
    <script type="text/ng-template" id="modal.ejs">
        <div class="modal-content">
            <div class="modal-header navy-bg">
                <button type="button" class="close" ng-click="cancel()">
                    <i class="fa fa-times-circle"></i>
                </button>
                <h4 class="modal-title">Name your Dashboard</h4>
            </div>
            <div class="modal-body">
                <div class="wrapper wrapper-content">
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </script>
</div>