<div id="exportModel" ng-init="openPDFModal('pdfExport')"  style="width:1100px!important;">
    <script src="js/datePicker/Calendar.js"></script>
    <script type="text/ng-template" id="modal.ejs">
        <div class=" modal-expContent" ng-controller="ExportController as expCtrl" ng-cloak>
                <button type="button" class="overlayCloseButton" ng-click="closeExportModal()" ng-hide="showExport == false">
                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                </button>
            <div class="row" style="margin-left: 0px;margin-right:0px;padding-top: 15px">
                <div class="col-lg-12" ng-show="showExport == true">
                    <h5 class="model-title">Please Choose your Export option</h5>
                    <div class="wrapper wrapper-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="center">
                                    <label class="btn btn-default"><input type="radio" id="exportOptionJpeg" name="exportOption" value="JPEG" ng-click="pdfPrintPreview(false);"/> JPEG</label>
                                    <label class="btn btn-default"><input type="radio" id="exportOptionPDF" name="exportOption" value="PDF" ng-click="fetchLogosFromDB('org');fetchLogosFromDB('cli');pdfPrintPreview(true);printpaperPDF();"/> PDF</label>
                                    <label class="btn btn-default"><input type="radio" id="exportOptionUrl" name="exportOption" value="PDF" ng-click="pdfPrintPreview(false);"/> Share URL</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 20px;padding-top: 25px;margin-left: 0px;margin-right:0px"  ng-show="expAct==true">
                            <div class="col-lg-12">
                                <div class="col-lg-6" style="border-right:1px dotted #aeaeae">
                                    <legend style="text-align: center;font-family: Heebo-ExtraBold;font-size:18px;color:#04509B !important">Choose Your Logo</legend>
                                    <div class="scrollbar" id="scroller" style="height:80px!important;">
                                        <div class="col-lg-2 logo-icons orgIcon" id="orgLogoIcons-default">
                                            <div style="height:15%;float:right;margin: -5px 0px 0px 0px;"></div>
                                            <img src="/userFiles/datapoolt.png" ng-click="selectedIconIndicator('org','orgLogoIcons-default');selectedOrgLogo('/userFiles/datapoolt.png')" style="max-width: 100%;height:85%;padding: 5px 5px; "/>
                                        </div>
                                        <div class="col-lg-2 logo-icons orgIcon" ng-repeat="data in orgLogosList" id="orgLogoIcons-{{data._id}}">
                                            <div  style="height:15%;float:right;margin: -5px 0px 0px 0px;">
                                                <i id="getCheck-{{data._id}}" class="fa fa-minus-square" style="display:block;" ng-click="removeLogo(data,'org')"></i>
                                            </div>
                                            <img ng-src="{{data.fileUrl}}"style="max-width: 100%;height:85%;padding: 5px 5px;" ng-click="selectedIconIndicator('org','orgLogoIcons-'+data._id);selectedOrgLogo(data.fileUrl)"/>
                                        </div>
                                    </div>
                                    <form ref='uploadOrgLogoForm' id='uploadOrgLogoForm' name="uploadOrgLogoForm"  style="padding: 5px 5px;">
                                        <div class="col-sm-6"><input type="file" name="sampleFile" file-model="orgFile" ng-click="enableUploadbutton('org')" required/></div>
                                        <div class="col-sm-6"><button type="submit" class="btn btn-primary uploadbutton-mode" id='orgUploadButton' ng-click="submitUpload(orgFile,'org')" disabled="disabled">Upload</button></div>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <legend style="text-align: center;font-family: Heebo-ExtraBold;font-size:18px;color:#04509B !important">Choose Client Logo (Optional)</legend>
                                    <div class="scrollbar" id="scroller" style="height:80px!important">
                                        <div class="col-lg-2 logo-icons cliIcon"  id='cliLogoIcons-default'>
                                            <div style="height:15%;float:right;margin: -5px 0px 0px 0px;"></div>
                                            <img src='/userFiles/plain-white.jpg' ng-click="selectedIconIndicator('cli','cliLogoIcons-default');selectedCliLogo('/userFiles/plain-white.jpg')" style="max-width: 100%;height:85%;padding: 5px 5px; "/>
                                        </div>
                                        <div class="col-lg-2 logo-icons cliIcon" ng-repeat="data in cliLogosList" id="cliLogoIcons-{{data._id}}">
                                            <div style="height:15%;float:right;margin: -5px 0px 0px 0px;">
                                                <i id="getCheck-{{data._id}}" class="fa fa-minus-square" style="display:block;"  ng-click="removeLogo(data,'cli')"></i></div>
                                            <img ng-src="{{data.fileUrl}}" ng-click="selectedIconIndicator('cli','cliLogoIcons-'+data._id);selectedCliLogo(data.fileUrl)" style="max-width: 100%;height:85%;padding: 5px 5px;"/>
                                        </div>
                                    </div>
                                    <form ref='uploadClientLogo' id='uploadClientLogo'>
                                        <div class="col-sm-6"><input type="file" name="sampleFile" file-model="cliFile" ng-click="enableUploadbutton('cli')"/></div>
                                        <div class="col-sm-6"><button type="submit" class="btn btn-primary uploadbutton-mode" id="clientUploadButton" ng-click="submitUpload(cliFile,'cli')" disabled="disabled">Upload</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 0px;margin-right:0px">
                            <div class="col-lg-12" text-center>
                                <button class="btn btn-primary button-mode" id="submitExportButton" style="float:right;border: none;font-size: 17px;font-weight: 500;border-radius: 5px;margin: 0px 15px 15px 15px;cursor: pointer;" ng-click="closeExport();">Export</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" ng-if='showExport == false' ng-show="showExport == false" ng-cloak>
                    <div class="md-content previewContentText">
                        <div>
                            <div>
                                <div class="row" style="margin-left: 0px;margin-right:0px">
                                    <div class="col-md-12">
                                        <div class="center">
                                            <div class="mainLoading location">
                                                <div class="sk-spinner sk-spinner-double-bounce">
                                                    <div class="sk-double-bounce1"></div>
                                                    <div class="sk-double-bounce2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row" style="margin-left: 0px;margin-right:0px">
                                    <div class="col-md-12">
                                        <h2 class="exportContentText">Initializing Export Please wait for a moment</h2>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalExp-body" ng-if='expAct==true' ng-show="expAct==true">
                <div class="wrapper wrapper-content">
                    <h5 class="model-title">PDF Print Preview</h5>
                    <div class="scrollbar" id="scroller">
                        <div class="row" style="margin-left: 0px;margin-right:0px;margin-bottom: 60px;">
                            <div class="col-lg-12"style="padiding:0px 0px !important">
                                <div id="dashLayout" class="dashboardLayout" style="border:1px solid #efefef">
                                    <div class="white-bg"style="border:0px solid #efefef" ng-repeat="(aexpageIndex,aexppage) in expPages">
                                        <div id="dashLayoutpages-{{aexpageIndex}}">
                                            <div class="row" style="border-bottom:1px solid #efefef;max-height:40px;margin-left: 0px;margin-right:0px">
                                                <div class="col col-sm-12">
                                                    <div class="expdashboardTemplate-items">
                                                        <div class="col-sm-2" style="float: left;"><img ng-src="{{orgLogoSrc}}" style="max-width: 90%;max-height:35px;padding: 0px 5px;"/></div>
                                                        <div class="col-sm-4 dashboardName" style="padding:4px!important;float: left;"><p class="exportDashbdNameStyle">{{expCtrl.dashboard.dashboardName || 'UnNamed Dashboard'}}</p></div>
                                                        <div class="col-sm-4"style="float: left;"><div id='expdaterange'class="daterange daterange--double three"></div></div>
                                                        <div class="col-sm-2"style="float: right;"><img ng-src="{{cliLogoSrc}}" style="max-width: 90%;max-height:35px;padding: 0px 5px;float:right;"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div gridster="expgridsterOptions" class="row" id="expgridsterItems" style="margin:0px;"><!--ng-switch-when="true"-->
                                                <ul>
                                                    <li gridster-item="widget" ng-repeat="(widgetIndex,widget) in aexppage.widgets">
                                                        <div class="box getBox-{{widget.id}}" ng-controller="CustomWidgetController">
                                                            <div class="box-header" id="getWidgetColor-{{widget.id}}" ref="{{aexppage.widgetData[widgetIndex].color}}" style="background-color: #ffffff;"> <!--ng-style="{'background-color': aexppage.widgetData[widgetIndex].color}"-->
                                                                <div style="float: left;width: 93%;">
                                                                    <img ng-src="image/thumbnail/{{widget.channelName}}.png" ng-if="widget.channelName=='custom'||widget.channelName=='customFusion'"  style="vertical-align: super;max-height: 31px; max-width: 50px; padding:5px"/>
                                                                    <h3 ng-style="widget.sizeX!=1  && {'width':'80%'}  || widget.sizeX==1 && {'width':'50%'}" style="float:left;padding:7px!important;text-overflow:ellipsis;">{{aexppage.widgetData[widgetIndex].name}}</h3>
                                                                </div>
                                                            </div>
                                                            <div class="box-content" style="vertical-align: middle" ng-style="{position:(isMobile?'static':'absolute')}">
                                                                <div ng-if="aexppage.widgetData[widgetIndex].visibility == false">
                                                                    <div  ng-if="aexppage.widgetData[widgetIndex].dataerror == true" >
                                                                        <div class="row" style=" margin-top: 18%;height: 100%">
                                                                            <div style="height:99%;">
                                                                                <div style="position:relative; top:25%; text-align:center; padding-right:20px">
                                                                                    <p style="word-wrap:break-word;font-size: 10px;">Access to one or more profiles has expired</p>
                                                                                    <p><i style="color: #23527c;" class="fa fa-refresh" aria-hidden="true"> </i><p style="color:#000;font-size: 10px">  Refresh</p></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div  ng-if="aexppage.widgetData[widgetIndex].dataerror == false" >
                                                                        <div class="row" style="margin-top: 18%;height: 100%">
                                                                            <div style="height:99%;">
                                                                                <div style="position:relative; top:36%; text-align:center; padding-right:20px">
                                                                                    <p style="word-wrap:break-word;font-size: 12px;">Your credential is insufficient to fetch data for this metric</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row getWidgetGraph" style="height: 100%;margin:0px;" ng-if="aexppage.widgetData[widgetIndex].visibility == true">
                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'lineChart'  || chart.options.chart.type=== 'pieChart' || chart.options.chart.type=== 'multiBarChart' || chart.options.chart.type=== 'multiChart'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin:0px;"  ng-style="calculateSummaryHeight(widget.sizeY,chart.data.length)">
                                                                            <ul style="height:100%;font-size:12px; padding-left: 5px;">
                                                                                <li  ng-repeat="data in chart.data" ng-class="calcColumnWidth(chart.data.length,widget.sizeX,widget.sizeY)" ng-style="calcRowHeight(data,chart.data.length,widget.sizeX,widget.sizeY,aexppage.widgetData[widgetIndex].layoutOptionsY)"  style="text-align: center;padding-top: 1px;padding-left:0px;padding-right: 2px;"><!--id="expli-{{widget.id}}-{{$index}}" size-watcher-width="data.mywidth"-->
                                                                                    <div style="margin: 0px;height: 100%;overflow: hidden;white-space: nowrap;color: #000000;text-align: center" ng-cloak>

                                                                                        <p ng-show="data.showComparision==false" ng-style="{'color': '#979797', 'font-family' : 'Bebas Neue', 'text-transform':'uppercase', 'background-color': 'whitesmoke', 'border-bottom': '2px solid', 'border-color': data.color, 'padding-left': '3px', 'border-right': '3px solid white'}" style="margin:0px 0px 3px!important;font-weight: bold;"> {{data.key}} - {{data.summaryDisplay}}<i ng-if="data.arrow==='up' && data.variance !=0 && chart.options.chart.type != 'pieChart'" style="font-size: 0.8em;color:#2A8539" class="fa fa-arrow-up" aria-hidden="true"></i><i ng-if='data.arrow==="down" && data.variance !=0 && chart.options.chart.type != "pieChart"' style="font-size: 0.8em;color:#FF1B1B" class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                                                                        <p ng-show="data.showComparision==true" ng-style="{'color': '#979797', 'font-family' : 'Bebas Neue', 'text-transform':'uppercase', 'background-color': 'whitesmoke', 'border-bottom': '2px solid', 'border-color': data.color, 'padding-left': '3px', 'border-right': '3px solid white'}" style="margin:0px 0px 3px!important;font-weight: bold;">  {{data.key}} - {{data.summaryDisplay}}</p>
                                                                                        <p ng-show="data.showComparision==true" ng-if="chart.options.chart.type != 'pieChart'" style="margin:1px 0px 1px!important;overflow: hidden">{{data.period}}: <span ng-if="data.variance !=0">{{data.variance}}%  </span><i ng-if="data.arrow==='up' && data.variance !=0" style="font-size: 0.8em;color:#2A8539" class="fa fa-arrow-up" aria-hidden="true"></i><i ng-if='data.arrow==="down" && data.variance !=0' style="font-size: 0.8em;color:#FF1B1B" class="fa fa-arrow-down" aria-hidden="true"></i></p>

                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="row" style="margin: 0px;" ng-style="calculateChartHeight(widget.sizeY,chart.data.length)">
                                                                            <nvd3 options="chart.options" data="chart.data" api="chart.api" config="{refreshDataOnly:true, deepWatchDataDepth: 0}" events="events" ng-if="aexppage.widgetData[widgetIndex].visibility == true"></nvd3>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-repeat="(chartIndex,chart) in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'mozoverview'" style="padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row scrollbar scroller" style="margin:0px;background-color:whitesmoke !important;"  ng-style="calculateSummaryHeight(widget.sizeY,chart.data.length)">
                                                                            <ul style="height:100%;font-size:12px;padding-left: 5px;">
                                                                                <li  ng-repeat="data in chart.data"  ng-class="calculateColumnWidthMoz(chart.data.length,widget.sizeX,dashboard.widgetData[widgetIndex].chart.length)" ng-style="calculateRowHeight(data,widget.sizeX,dashboard.widgetData[widgetIndex].chart.length)" style="text-align: center;padding-top: 1px;padding-left:0px;padding-right: 2px;font-size: 1.0em!important;" id="li-{{widget.id}}-{{$index}}" ><!--size-watcher-width="data.mywidth"-->
                                                                                    <div ng-repeat="values in data.values">
                                                                                        <div style="margin: 0px;height: 100%;overflow: hidden;white-space: nowrap;color: #000000;text-align: center;" ng-show="values.x===currentDate">
                                                                                            <p ng-style="{'color': '#979797', 'font-family' : 'Heebo-Medium','font-size':'12px', 'text-transform':'uppercase', 'padding-left': '3px'}" style="margin:0px 0px 3px!important;font-weight: bold;"> {{data.key}}</p>
                                                                                            <p ng-style="{'color': '#979797', 'font-family' : 'Heebo-Medium','font-size':'11px', 'text-transform':'uppercase', 'padding-left': '3px'}" style="margin:0px 0px 3px!important;font-weight: bold;"> {{values.y}}</p>
                                                                                        </div>
                                                                                    </div>

                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>


                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'emptyCharts'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin: 0px;height: 100%">
                                                                            <div events="events" style="height: 99%;" ng-if="aexppage.widgetData[widgetIndex].visibility == true">
                                                                                <div style="position:relative; top: 36%; text-align: center" ng-repeat="data in chart.data">
                                                                                    <p style="word-wrap:break-word;">{{data.message}}</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'instagramPosts'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin: 0px;height: 100%">
                                                                            <div events="events" style="height: 99%" ng-if="aexppage.widgetData[widgetIndex].visibility == true">
                                                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data">
                                                                                        <div class="col-lg-1 listed-image" >
                                                                                            <a  href="{{data.links}}" target="_blank"><img ng-src="{{data.image}}" height="50px" widget="50px"/></a>
                                                                                        </div>
                                                                                        <div class="col-lg-11 aside">
                                                                                            <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                                                            <div class="impression">
                                                                                                <div class="likes"><span>likes:{{data.likes}}</span></div>
                                                                                                <div class="comment"><span>Comments:{{data.comments}}</span></div>
                                                                                                <div class="date"><span>{{data.date}}</span></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'highEngagementTweets'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin: 0px;height: 100%">
                                                                            <div events="events" style="height: 99%" ng-if="aexppage.widgetData[widgetIndex].visibility == true">
                                                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data" ng-if="data.postComment">
                                                                                        <div class="col-lg-12">
                                                                                            <div class="postComment"><a class="apiLink" href="{{data.links.media[0].expanded_url}} " target="_blank">{{data.postComment}}</a></div>
                                                                                            <div class="impression">
                                                                                                <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                                                <div class="comment"><span>Retweets: {{data.reTweet}}</span></div>
                                                                                                <div class="date"><span>{{data.date}}</span></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'highestEngagementLinkedIn'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin: 0px;height: 100%">
                                                                            <div events="events" style="height: 99%" ng-if="aexppage.widgetData[widgetIndex].visibility == true">
                                                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data" ng-if="data.postComment">
                                                                                        <div class="col-lg-12">
                                                                                            <div class="postComment"><a class="apiLink" href="{{data.link}} " target="_blank">{{data.postComment}}</a></div>
                                                                                            <div class="impression">
                                                                                                <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                                                <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                                                <div class="comment"><span>shares: {{data.shares}}</span></div>
                                                                                                <div class="comment"><span>clicks: {{data.clicks}}</span></div>
                                                                                                <div class="comment"><span>impressions: {{data.impressions}}</span></div>
                                                                                                <div class="date"><span>{{data.date}}</span></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'gaTopPagesByVisit'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin: 0px;height: 100%">
                                                                            <div events="events" style="height: 99%" ng-if="aexppage.widgetData[widgetIndex].visibility == true" ng-init="limitScll=20">
                                                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                                                    <div class="col-xs-12 toplisted" ng-repeat="data in chart.data | limitTo: limitScll" ng-if="data.pagePath">
                                                                                        <div class="col-xs-10" style="float:left;overflow: hidden" >{{data.pagePath}}</div>
                                                                                        <div class="col-xs-2" style="float:left;text-align: center">{{data.pageVisits}}</div>
                                                                                    </div>
                                                                                    <div style="text-align: center" ng-show="chart.data.length>20">
                                                                                        <a href ng-click="limitScll=(limitScll+10)"ng-show="limitScll<chart.data.length">Show More</a>
                                                                                        <span ng-show="limitScll>20&&limitScll<chart.data.length">|</span>
                                                                                        <a href ng-click="limitScll=(limitScll-10)"ng-show="limitScll>20">Show Less|</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'pinterestEngagementRate'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin: 0px;height: 100%" id='chartTable-{{widget.id}}'>
                                                                            <div events="events" style="height: 99%" ng-if="aexppage.widgetData[widgetIndex].visibility == true">
                                                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data">
                                                                                        <div class="col-lg-12">
                                                                                            <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                                                            <div class="impression">
                                                                                                <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                                                <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                                                <div class="comment"><span>Repins: {{data.repin}}</span></div>
                                                                                                <div class="date"><span>{{data.date}}</span></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'pinterestLeaderboard'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin: 0px;height: 100%" id='chartTable-{{widget.id}}'>
                                                                            <div events="events" style="height: 99%" ng-if="aexppage.widgetData[widgetIndex].visibility == true">
                                                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                                                    <div class="col-lg-12 listed"  ng-repeat="data in chart.data">
                                                                                        <div class="col-lg-12">
                                                                                            <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                                                            <div class="impression">
                                                                                                <div class="likes"><span>collaborators: {{data.collaborators}}</span></div>
                                                                                                <div class="comment"><span>pins: {{data.followers}}</span></div>
                                                                                                <div class="comment"><span>followers: {{data.pins}}</span></div>
                                                                                                <div class="date"><span>{{data.date}}</span></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'vimeoTopVideos'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div class="row" style="margin: 0px;height: 100%">
                                                                            <div events="events" style="height: 99%" ng-if="aexppage.widgetData[widgetIndex].visibility == true">
                                                                                <div class="scrollbar scrollInWidget" id="scroller">
                                                                                    <div class="col-lg-12 listed" ng-repeat="data in chart.data">
                                                                                        <div class="col-lg-1 listed-image" >
                                                                                            <a  href="{{data.link }}" target="_blank"><img ng-src="{{data.picture}}" height="50px" widget="50px" /></a>
                                                                                        </div>
                                                                                        <div class="col-lg-11 aside">
                                                                                            <div class="postComment"> <a  class="apiLink" href="{{data.link }}" target="_blank">  {{data.title}}</a></div>
                                                                                            <div class="impression">
                                                                                                <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                                                <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                                                <div class="likes"><span>Views: {{data.views}}</span></div>
                                                                                                <div class="date"><span>{{data.date}}</span></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-repeat="chart in aexppage.widgetData[widgetIndex].chart track by $index" ng-if="chart.options.chart.type=== 'costPerActionType'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/aexppage.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/aexppage.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                                        <div ng-show="chart.data[0].values.flag==true">
                                                                            <div class="center" style="vertical-align: middle">
                                                                                <button class="btn btn-primary gobutton-mode" ng-click="">Configure</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="context widgetTransparentImage" id="widgetTransparentImage-{{widget.id}}" ng-hide="tempDashboard" ng-click="callThePosition($event,widget.id)" style="width: 100%;height: 100%;"></div>-->
                                                            </div>

                                                        </div>
                                                    </li>
                                                    <li gridster-item="widget" ng-repeat="(widgetIndex,widget) in aexppage.empWidget"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--<div style="min-height: 5px !important;page-break-after: always;border:1px solid #efefef"></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>