<div class="modal-dialog modal-lg" ng-init="open()">
    <script type="text/ng-template" id="modal.ejs">
        <div class="modal-content" ng-controller="ExportController">
            <div class="modal-header">
                <h5 class="model-title">Select the option to export</h5>
            </div>
            <div class="modal-body exportModal">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center">
                                <label class="btn btn-default">
                                    <input type="radio" id="exportOptionJpeg" name="exportOption" value="JPEG"/> JPEG
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" id="exportOptionPDF" name="exportOption" value="PDF"/> PDF
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                      <!--  <button class="btn btn-primary buttonPDF" id="submitExportPDFButton" ng-click="submitExportPDF();closeExport();" ui-sref="app.reporting.dashboard.exportMessageModal">Html5-to-PDF</button>
                        <button class="btn btn-primary buttonPDF" id="submitExportPDF2Button" ng-click="submitExportPDF2();closeExport();" ui-sref="app.reporting.dashboard.exportMessageModal">Html-to-PDF</button>
                        <button class="btn btn-primary buttonPDF" id="submitExportPDF3Button" ng-click="submitExportPDF3();closeExport();" ui-sref="app.reporting.dashboard.exportMessageModal">PDFkit</button>
                        <button class="btn btn-primary buttonPDF" id="submitExportPDF4Button" ng-click="submitExportPDF4();closeExport();" ui-sref="app.reporting.dashboard.exportMessageModal">Phantom-Html-to-PDF</button> -->
                        <button class="btn btn-primary button-mode" id="submitExportButton" ng-click="submitExport();closeExport();" ui-sref="app.reporting.dashboard.exportMessageModal">Export
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>






