<div class="modal-dialog modal-lg"  ng-init="open()">
    <script type="text/ng-template" id="modal.ejs">
        <div class="modal-content">
           <div class="modal-header">
                <h5 class="model-title">Select the option to export</h5>
            </div>
            <div class="modal-body exportModal">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center">
                                <label class="btn btn-default">
                                    <input type="radio" id="exportOptionJpeg" name="exportOption" value="JPEG" /> JPEG
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" id="exportOptionPDF" name="exportOption" value="PDF" /> PDF
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button class="btn btn-primary button-mode" id="submitExportButton"  disabled="disabled">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>






