<div ng-init="fetchAllDashboards()" class="wrapper wrapper-content gridAlign">
    <p>GridView</p>
    <div class="row">
        <div class="col col-lg-2  gird-text" ng-repeat="dashboard in dashboardList" >
            <div ng-if="(dashboard.name == null || dashboard.name==' ')">
                <a ui-sref="app.reporting.dashboard({id: dashboard._id})" style="color:#9A9A9A">Unnamed Dashboard</a>
            </div>
            <div ng-if="dashboard.name != null">
                <a ui-sref="app.reporting.dashboard({id: dashboard._id})" style="color:#000">{{dashboard.name}}</a>
            </div>
        </div>
    </div>
</div>