<html>
<head>
    <script src="js/jquery/jquery-2.1.1.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#newPassword,#retypePassword").keyup(function () {
                if (($("#newPassword").val() == $("#retypePassword").val()) && ($("#newPassword").val() != "") && ($("#retypePassword").val() != "")) {
                    $("#pwmatch").removeClass("glyphicon-remove");
                    $("#pwmatch").addClass("glyphicon-ok");
                    $("#pwmatch").css("color", "#00A41E");
                    $("#password-res").html("Password Match");
                    $('button[type="submit"]').prop('disabled', false);

                }
                else {
                    $("#pwmatch").removeClass("glyphicon-ok");
                    $("#pwmatch").addClass("glyphicon-remove");
                    $("#pwmatch").css("color", "#FF0004");
                    $("#password-res").html("Password Mismatch");
                    $('button[type="submit"]').prop('disabled', true);

                }
            });
        });
    </script>
</head>
<body class="gray-bg">
<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">Password regeneration</h2>

                <span class="mail" style="font-family: Helvetica,Arial,sans-serif;margin-left: 73px">
                    <b><%= mailId %></b>
                </span>

                <div class="row">
                    <div class="col-lg-12">
                            <form role="form" action="/updateNewPassword" method="get">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label label-font">New Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control login-field login-field-password" name="newPassword"
                                               ng-model="newPassword" id="newPassword" required/>
                                    </div>
                                    <label class="col-sm-4 control-label label-font">Retype password</label>
                                    <div class="col-sm-6" >
                                        <input type="password" class="form-control login-field login-field-password" style="margin-top: 5px;margin-bottom: 10px;"
                                               name="retypePassword" id="retypePassword" required/>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <input type="hidden" name="email" value = <%= mailId %>>
                                    <span id="pwmatch" class="glyphicon" style="color:#FF0004; margin-top: 6px"></span> <span
                                            id="password-res"></span>
                                </div>
                            <button type="submit" class="btn btn-primary block  m-b" style="width: 39% !important; margin-left: 145px;background-color: #1a8bb3">Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Copyright Datapoolt
        </div>
        <div class="col-md-6 text-right">
            <small>© 2016-2017</small>
        </div>
    </div>
</div>
</body>
</html>