
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Datapoolt | Pricing</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="image/Favicon.png">
	<link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/theme-blues.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
	<!--[if gte IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
	<style>
		@media(max-width : 770px){
			.has-dropdown:hover .menuTree{
				font-style:italic !important;
				font-size: 15px;

			}

		}
	</style>

	<!--<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-79014424-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="boxed-layout">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TS3FXR"
				  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TS3FXR');</script>
<!-- End Google Tag Manager -->
<div class="loader">
	<div class="spinner">
		<div class="double-bounce1"></div>
		<div class="double-bounce2"></div>
	</div>
</div>

<div class="nav-container">
	<nav class="centered-logo top-bar">
		<div class="container">



			<div class="row">
				<div class="col-sm-12 text-center">
					<img class="logo logo-dark" alt="Logo" src="image/Datapoolt-Logo.png">
				</div>
			</div>


			<div class="row nav-menu">

				<div class="col-sm-12 columns text-center">
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li class="has-dropdown" style="height:20px"><a href="#" class='menuTree' style="padding-bottom: 0px;">Features</a>
							<ul class="subnav">
								<li><a href="/features">Product Features&nbsp;</a></li>
								<li><a href="/integrations">Integrations</a></li>
								<!--<li><a href="#">Use Cases</a></li>-->
								<!--<li><a href="#">For Agencies</a></li>-->
							</ul>
						</li>
						<li><a href="/pricing">Pricing</a></li>
						<li class="has-dropdown" style="height:20px"><a href="#" class='menuTree' style="padding-bottom: 0px;">Learn</a>
							<ul class="subnav">
								<li><a href="http://blog.datapoolt.co/tag/using-datapoolt/" target="_blank">Using Datapoolt</a></li>
								<li><a href="http://blog.datapoolt.co/tag/digital-marketing/" target="_blank">Digital Marketing</a></li>
								<li><a href="/faqs">FAQs</a></li>
							</ul>
						</li>
						<li><a href="/api/v1/login">Use Datapoolt</a></li>
					</ul>
				</div>
			</div>

			<div class="mobile-toggle">
				<i class="icon icon_menu"></i>
			</div>

		</div>
		<div class="bottom-border"></div>
	</nav>

</div>

<div class="main-container">
	<section class="pricing-1 bg-secondary-1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="text-white">Super simple pricing that's suitable for everyone<br></h1>
				</div>
			</div>

			<div class="row clearfix pricing-tables">
				<div class="col-md-3 col-sm-6 no-pad-right">
					<div class="pricing-table">
						<div class="price">
							<span class="sub">$</span>
							<span class="amount">0</span>
							<span class="sub">/mo<br><br>Free Forever<br></span>
						</div>
						<ul class="features">
							<li><span>5 Dashboards</span></li>
							<li><span>15 widgets</span></li>
							<li><span>5 fusions</span></li>
							<li><span>5 alerts / month</span></li><li><span>1 month data window</span></li><li><span class="vdw">Live chat </span><span>support</span></li><li><span class="vdw">Self - serve </span><span>support</span></li><li><br></li>
						</ul>
						<a href="#" class="btn btn-primary btn-white"> Sign Me Up</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 no-pad">
					<div class="pricing-table">
						<div class="price">
							<span class="sub">$</span>
							<span class="amount">29</span>
							<span class="sub">/mo<br><br>Ideal For early stage startups<br></span>
						</div>
						<ul class="features">
							<li><span>10 Dashboards</span></li>
							<li><span>50 widgets</span></li>
							<li><span>15 fusions</span></li>
							<li><span>15 alerts / month</span></li><li><span>3 months data window</span></li><li><span>Live chat </span><span>support</span></li><li><span>Email </span><span>support</span></li><li><br></li>
						</ul>
						<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 no-pad">
					<div class="pricing-table emphasis">
						<div class="price">
							<span class="sub">$</span>
							<span class="amount">49</span>
							<span class="sub">/mo<br><br>Ideal for growth stage businesses<br></span>
						</div>
						<ul class="features">
							<li><span>20 Dashboards</span></li>
							<li><span>Unlimited Widgets</span></li>
							<li><span>50 fusions</span></li>
							<li><span>50 alerts / month</span></li><li><span>6 months data window</span></li><li><span>Live chat </span><span>support</span></li><li><span>Priority Email s</span><span>upport</span></li><li><br></li>
						</ul>
						<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
					</div>
				</div>

				<div class="col-sm-6 no-pad-left col-md-3">
					<div class="pricing-table">
						<div class="price">
							<span class="sub">$</span>
							<span class="amount">129</span>
							<span class="sub">/mo<br><br><span>Ideal for businesses and teams</span><br></span>
						</div>
						<ul class="features">
							<li><span><b>Unlimited</b></span><span> </span><span>Dashboards</span></li>
							<li><span><b>Unlimited</b></span> Widgets</li>
							<li><span><b>200 fusions</b></span></li>
							<li><span><b>200 alerts</b> / month</span></li><li><b>12 months</b> data window</li><li><b>Live chat </b>support</li><li><b>Priority Email </b>support</li><li><b>Dedicated</b> Account Manager</li>
						</ul>
						<a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
					</div>
				</div>


			</div>

		</div>

	</section>

	<section class="duplicatable-content pure-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>Common questions about pricing</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<h6>What is a fusion?</h6>
					<p>
						A fusion is, as the name suggests, a combination of metrics from more than one channel. With Datapoolt, you can combine any metric with any other metric. This helps you see instantly what correlations exist between these two metrics and how they affect each other</p>
				</div><div class="col-sm-4">
					<h6>What is an alert?</h6>
					<p>
						An alert can be triggered for any metric in Datapoolt. Alerts send you an email, SMS or push notification whenever a metric exceeds or falls below a particular threshold. Use alerts to get notified the instant something happens to your metrics.</p>
				</div><div class="col-sm-4">
					<h6>What are data windows?</h6>
					<p>
						A data window refers to the amount of data that can be used for analysis at any particular time. This is indicated by the date range that can be selected on every dashboard. Data from the selected date range alone will be displayed on the widgets in your dashboard</p>
				</div><div class="col-sm-4">
					<h6>Is there a discount if I pay annually?</h6>
					<p><b>
							Yes! </b>You can get 1 month free if you choose to pay annually on all plans. That is, you pay only for 11 months and enjoy Datapoolt for the whole year.</p>
				</div><div class="col-sm-4">
					<h6>Is there a discount for non-profits?</h6>
					<p><b>
							Yes! </b>Datapoolt is absolutely free for non-profits who are involved in social upliftment. To get a non-profit plan, please write to us at hello@datapoolt.co<br><br>Note: We will require appropriate proof to ensure that you are a non-profit organization working on social causes in order for you to qualify.&nbsp;</p>
				</div><div class="col-sm-4">
					<h6>Can I change plans or cancel?</h6>
					<p><b>
							Yes! </b>You can change your plan at any time by going to your account management screen. You can change plans or cancel altogether at any point. However, If you cancel or change plans at the middle of a payment month, you will be charged the current due amount for that month.</p>
				</div>




			</div>
		</div>
	</section>
</div>

<div class="footer-container">



	<footer class="details">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img alt="logo" class="logo" src="image/Datapoolt-Logo.png">
					<p>
						Compare KPIs across channels. Marketing Analytics software from Datapoolt helps you measure the results of your marketing strategy.&nbsp;</p>
				</div>

				<div class="col-sm-4">
					<h1>Contact Us</h1>
					<p>
						hello@datapoolt.co<br>
						+91 80561 38326<br>
						<br>
						140 Janaki Commercial Complex<br>LB Road Thiruvanmiyur<br>Chennai 600041</p>
				</div>

				<div class="col-sm-4">
					<h1>Get Social with us</h1>
					<ul class="social-icons">
						<li>
							<a href="https://twitter.com/datapoolt" target="_blank">
								<i class="icon social_twitter"></i>
							</a>
						</li>

						<li>
							<a href="https://facebook.com/datapoolt" target="_blank">
								<i class="icon social_facebook"></i>
							</a>
						</li>

						<li>
							<a href="https://in.linkedin.com/company/datapoolt" target="_blank">
								<i class="icon social_linkedin"></i>
							</a>
						</li>






					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<span class="sub">© Copright 2016&nbsp;<b>Cormallen Digital</b>&nbsp;- All Rights Reserved</span>
				</div>
			</div>

		</div>
	</footer>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="js/jquery/jquery-2.1.1.min.js"></script>
<script src="js/jquery.plugin.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/skrollr.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/scrollReveal.min.js"></script>
<script src="js/isotope.min.js"></script>
<!--<script src="js/twitterFetcher_v10_min.js"></script>-->
<!--<script src="js/lightbox.min.js"></script>-->
<!--<script src="js/jquery.countdown.min.js"></script>-->
<script src="js/scripts.js"></script>

<!--For intercom messenger-->
<script>
	window.intercomSettings = {
		app_id: "uiizfwfc"
	};
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/uiizfwfc';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</body>
</html>
				