<div class="modal-dialog modal-lg" ng-init="open('profilelist')">
    <script type="text/ng-template" id="modal.ejs">
        <div class="modal-content" class="profilelistmodal" ng-controller="ProfileListController" ng-init="configProfileListModal()">
            <button type="button" class="overlayCloseButton" ng-click="closeProfilelistModal()">
                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </button>
        <div class="modal-header">
            <h3 class="modal-title" Style="text-align: center;color: #04509B;">
                Linked Profiles
            </h3>
        </div>
        <div class="modal-body" >
            <div class="scrollbar scrollInWidget" id="scroller">
                <div id ="errorInRelink"></div>
                <div class="row bottomline"  >
                    <div class="profiletitle">
                        <div class="col-sm-3" style="text-align: left;">Channel</div>
                        <div class="col-sm-3" style="text-align: left">Profile Name</div>
                        <div class="col-sm-3" style="text-align: center">Expires IN</div>
                        <div class="col-sm-3" style="text-align: left">Status</div>
                    </div>

                </div>
                <div class="row bottomline" ng-repeat="profile in profileListArray" style="height:40px">
                    <div class="col-sm-3" class="profilelistcell"> <img  src="image/thumbnail/{{profile.channelName}}.png" class="img-thumbnail profilelisImg" /></div>
                    <div class="col-sm-3" class="profilelistcell">{{profile.name}}</div>
                    <div class="col-sm-3" style="text-align: center">{{profile.expiresIn | date}}</div>
                    <div ng-show="profile.hasNoAccess" class="col-sm-3"  class="profilelistcell">
                        Inactive&nbsp;
                        <a  style="color: #45596b" ng-click="refreshProfile(profile)" ><i class="fa fa-refresh" aria-hidden="true"></i></a>
                    </div>
                    <div ng-show="!profile.hasNoAccess" class="col-sm-3"  class="profilelistcell">
                        Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ng-show="profile.expiresIn" style="color: #45596b" ng-click="refreshProfile(profile)" ><i class="fa fa-refresh" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
            </div>
            </script>
    </div>