<div class="modal-dialog modal-lg" ng-init="open('profilelist')">
    <script type="text/ng-template" id="modal.ejs">
        <div class="modal-content" class="profilelistmodal" ng-controller="ProfileListController" ng-init="configProfileListModal()">
            <button type="button" class="overlayCloseButton" ng-click="closeProfilelistModal()">
                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </button>
        <div class="modal-header">
            <h5 class="model-title" Style="text-align: center;color: #04509B;">
                Linked Profiles
            </h5>
        </div>
        <div class="modal-body" >
            <div class="scrollbar scrollInWidget" id="scroller">
                <div id ="errorInRelink"></div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <thead>
                        <tr class="profiletitle">
                            <th>Channel</th>
                            <th>Profile Name</th>
                            <th>Expires in</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="profile in profileListArray">
                            <td><img  src="image/thumbnail/{{profile.channelName}}.png" class="img-thumbnail profilelisImg"/></td>
                            <td class="adjustPadding">{{profile.name}}</td>
                            <td class="adjustPadding">{{profile.expiresIn | date}}</td>
                            <td class="adjustPadding">
                                <span ng-show="profile.hasNoAccess">Inactive</span>
                                <span ng-show="!profile.hasNoAccess">Active</span>
                            </td>
                            <td class="adjustPadding">
                                <a ng-show="profile.expiresIn && !profile.hasNoAccess" style="color: #45596b" ng-click="refreshProfile(profile)" ><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                <a ng-show="profile.hasNoAccess"style="color: #45596b" ng-click="refreshProfile(profile)" ><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </script>
</div>