<div class="modal-dialog modal-lg"  ng-init="open()">
    <script type="text/ng-template" id="modal.ejs">
        <div class="modal-content" ng-controller="RecommendedDashboardController" ng-init="changeViewsInBasicWidget('step_one')">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <div class="row" ng-show="currentView === 'step_one'">
                            <div class="col-lg-12">
                                <div class="wizard clearfix">
                                    <div class="steps clearfix">
                                        <ul role="tablist" class="fusion-tab">
                                            <li role="tab" class="disabled" aria-disabled="true">

                                                <a aria-controls="wizard-p-1">
                                                    <svg class="animated bounceIn" width="49px" height="49px" viewBox="771 9 49 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                        <desc>Created with Sketch.</desc>
                                                        <defs>
                                                            <pattern id="image2" x="0" y="0" patternUnits="userSpaceOnUse" height="100%" width="100%" viewBox="7 0 33 15">
                                                                <svg width="25px" height="25px" viewBox="414 22 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                    <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                                    <desc>Created with Sketch.</desc>
                                                                    <defs></defs>
                                                                    <g id="Metric-Icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(414.000000, 22.000000)">
                                                                        <path d="M3.15625,21.78125 L6.0625,21.78125 C6.375,21.78125 6.59375,21.53125 6.59375,21.25 L6.59375,3.40625 C6.59375,3.09375 6.34375,2.875 6.0625,2.875 L3.15625,2.875 C2.84375,2.875 2.625,3.125 2.625,3.40625 L2.625,21.25 C2.59375,21.53125 2.84375,21.78125 3.15625,21.78125 L3.15625,21.78125 Z M3.21875,3.46875 L5.96875,3.46875 L5.96875,21.125 L3.21875,21.125 L3.21875,3.46875 L3.21875,3.46875 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M19.15625,21.78125 L22.0625,21.78125 C22.375,21.78125 22.59375,21.53125 22.59375,21.25 L22.59375,16.4375 C22.59375,16.125 22.34375,15.90625 22.0625,15.90625 L19.15625,15.90625 C18.84375,15.90625 18.625,16.15625 18.625,16.4375 L18.625,21.25 C18.625,21.53125 18.84375,21.78125 19.15625,21.78125 L19.15625,21.78125 Z M19.25,16.53125 L22,16.53125 L22,21.15625 L19.25,21.15625 L19.25,16.53125 L19.25,16.53125 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M8.46875,21.78125 L11.375,21.78125 C11.6875,21.78125 11.90625,21.53125 11.90625,21.25 L11.90625,9.90625 C11.90625,9.59375 11.65625,9.375 11.375,9.375 L8.46875,9.375 C8.15625,9.375 7.9375,9.625 7.9375,9.90625 L7.9375,21.25 C7.9375,21.53125 8.1875,21.78125 8.46875,21.78125 L8.46875,21.78125 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M24.8125,23.21875 L23.8125,22.53125 C23.75,22.5 23.6875,22.5 23.65625,22.53125 C23.59375,22.5625 23.5625,22.625 23.5625,22.65625 L23.5625,23.03125 L1.25,23.03125 L1.25,1.5 L1.625,1.5 C1.6875,1.5 1.75,1.46875 1.75,1.40625 C1.78125,1.34375 1.78125,1.28125 1.75,1.25 L1.0625,0.25 C1,0.15625 0.875,0.15625 0.8125,0.25 L0.125,1.25 C0.09375,1.3125 0.09375,1.375 0.125,1.40625 C0.15625,1.46875 0.21875,1.5 0.25,1.5 L0.625,1.5 L0.625,23.34375 C0.625,23.53125 0.75,23.65625 0.9375,23.65625 L23.5625,23.65625 L23.5625,24.03125 C23.5625,24.09375 23.59375,24.15625 23.65625,24.15625 C23.6875,24.15625 23.71875,24.1875 23.71875,24.1875 C23.75,24.1875 23.78125,24.1875 23.8125,24.15625 L24.8125,23.46875 C24.84375,23.4375 24.875,23.40625 24.875,23.34375 C24.875,23.28125 24.875,23.25 24.8125,23.21875 L24.8125,23.21875 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M13.8125,21.78125 L16.71875,21.78125 C17.03125,21.78125 17.25,21.53125 17.25,21.25 L17.25,6.46875 C17.25,6.15625 17,5.9375 16.71875,5.9375 L13.8125,5.9375 C13.5,5.9375 13.28125,6.1875 13.28125,6.46875 L13.28125,21.25 C13.28125,21.53125 13.53125,21.78125 13.8125,21.78125 L13.8125,21.78125 Z M16.65625,20.25 L15.75,21.15625 L14.4375,21.15625 L16.65625,18.9375 L16.65625,20.25 L16.65625,20.25 Z M16.65625,18.28125 L13.90625,21.03125 L13.90625,19.4375 L16.65625,16.6875 L16.65625,18.28125 L16.65625,18.28125 Z M16.65625,14.0625 L13.90625,16.8125 L13.90625,15.5 L16.65625,12.75 L16.65625,14.0625 L16.65625,14.0625 Z M16.65625,12.0625 L13.90625,14.8125 L13.90625,13.40625 L16.65625,10.65625 L16.65625,12.0625 L16.65625,12.0625 Z M16.65625,10 L13.90625,12.75 L13.90625,11.46875 L16.65625,8.71875 L16.65625,10 L16.65625,10 Z M16.65625,8.0625 L13.90625,10.8125 L13.90625,9.5 L16.65625,6.75 L16.65625,8.0625 L16.65625,8.0625 Z M13.90625,8.84375 L13.90625,7.625 L14.9375,6.5625 L16.15625,6.5625 L13.90625,8.84375 L13.90625,8.84375 Z M13.90625,17.46875 L16.65625,14.71875 L16.65625,16.03125 L13.90625,18.75 L13.90625,17.46875 L13.90625,17.46875 Z M16.40625,21.15625 L16.65625,20.90625 L16.65625,21.15625 L16.40625,21.15625 L16.40625,21.15625 Z M14.28125,6.5625 L13.90625,6.9375 L13.90625,6.5625 L14.28125,6.5625 L14.28125,6.5625 Z" id="Shape" fill="#5B3BB7"></path>
                                                                    </g>
                                                                </svg>
                                                            </pattern>
                                                        </defs>
                                                        <circle id="Oval-199" stroke="#5B3BB7" stroke-width="3" fill="url(#image2)" cx="795.5" cy="33.5" r="22.5"></circle>
                                                    </svg></a>
                                            </li>
                                            <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                                                <svg width="326px" height="6px" class="svg-line2 fusion-svgLine1"  viewBox="446 30 326 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    &lt;!&ndash; Generator: Sketch 3.7.1 (28215) - http://www.bohemiancoding.com/sketch &ndash;&gt;
                                                    <desc>Created with Sketch.</desc>
                                                    <defs></defs>
                                                    <path d="M448,35 L770,35" id="Line-Copy" stroke="#F0F0F0" stroke-width="3" stroke-linecap="square" fill="none"></path>
                                                </svg>
                                            </li>
                                            <li role="tab" class="disabled" aria-disabled="true"><a aria-controls="wizard-p-1">
                                                    <svg width="49px" height="49px" viewBox="771 9 49 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                        <desc>Created with Sketch.</desc>
                                                        <defs>
                                                            <pattern id="image3" x="0" y="0" patternUnits="userSpaceOnUse" height="100%" width="100%" viewBox="2 0 22 15">
                                                                <svg width="25px" height="27px" viewBox="781 21 44 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                    <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                                    <desc>Created with Sketch.</desc>
                                                                    <defs></defs>
                                                                    <g id="Profile-Icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(783.000000, 21.000000)">
                                                                        <g id="Group" fill="#D8D8D8">
                                                                            <polygon id="Shape" points="5.19707792 0.0126623377 4.86461039 1.68376623 13.5954545 1.68376623"></polygon>
                                                                            <polygon id="Shape" points="19.8123377 26.7418831 20.1448052 25.0707792 11.4149351 25.0707792"></polygon>
                                                                            <polygon id="Shape" points="0.318181818 22.274026 1.11168831 22.4324675 1.11168831 18.2866883"></polygon>
                                                                            <polygon id="Shape" points="22.6555195 5.60941558 21.537013 11.2305195 21.537013 20.1892857 24.6905844 4.34058442 21.537013 3.71266234 21.537013 5.38668831"></polygon>
                                                                            <path d="M13.5954545,2.24318182 L4.86461039,2.24318182 L1.67207792,2.24318182 L1.67207792,18.287013 L1.67207792,22.4327922 L1.67207792,24.3714286 L11.4149351,24.3714286 L20.1448052,24.3714286 L20.9772727,24.3714286 L20.9772727,20.1896104 L20.9772727,11.2305195 L20.9772727,5.38668831 L20.9772727,3.71233766 L20.9772727,2.24285714 L13.5954545,2.24285714 L13.5954545,2.24318182 Z M19.2285714,5.03896104 L19.2285714,19.3493506 L11.9100649,19.3493506 L3.42045455,19.3493506 L3.42045455,9.50032468 L3.42045455,3.88571429 L4.53766234,3.88571429 L6.32012987,3.88571429 L13.4327922,3.88571429 L19.2282468,3.88571429 L19.2282468,5.03896104 L19.2285714,5.03896104 Z" id="Shape"></path>
                                                                        </g>
                                                                        <path d="M10.7993506,14.7224026 C10.0448052,14.1555195 9.46590909,13.4883117 9.46590909,13.4883117 C9.46590909,13.4883117 9.27272727,12.9100649 9.07824675,12.2915584 C8.99318182,12.3347403 8.85584416,12.3399351 8.76396104,12.3194805 C8.55876623,12.2733766 8.38701299,12.0935065 8.2487013,11.9454545 C8.09318182,11.7785714 7.98928571,11.5876623 7.89350649,11.3824675 C7.83506494,11.2594156 7.78766234,11.1272727 7.77435065,10.9902597 C7.7474026,10.7042208 7.89935065,10.4172078 8.19318182,10.3577922 C8.3224026,10.3311688 8.50097403,10.3185065 8.6288961,10.3665584 C8.61850649,10.2597403 8.60974026,10.1600649 8.60519481,10.0847403 C8.50681818,8.44285714 9.56428571,7.03279221 11.025,6.43896104 C10.5496753,6.24545455 10.0324675,6.13798701 9.49772727,6.13798701 L9.49025974,6.13798701 C7.30974026,6.13798701 5.41201299,7.90844156 5.54220779,10.0847403 C5.54707792,10.1600649 5.55551948,10.2597403 5.56493506,10.3665584 C5.43798701,10.3185065 5.26038961,10.3311688 5.13019481,10.3577922 C4.83636364,10.4175325 4.68441558,10.7042208 4.71136364,10.9902597 C4.72402597,11.1272727 4.7724026,11.2594156 4.83051948,11.3824675 C4.92662338,11.5876623 5.02954545,11.7788961 5.18636364,11.9454545 C5.32435065,12.0935065 5.4961039,12.2733766 5.70097403,12.3194805 C5.79285714,12.3399351 5.92954545,12.3347403 6.01525974,12.2915584 C6.20941558,12.9100649 6.40324675,13.4883117 6.40324675,13.4883117 C6.40324675,13.4883117 6.98149351,14.1555195 7.73636364,14.7224026 L7.73506494,14.7224026 C7.73506494,14.7224026 7.66655844,15.8993506 6.81655844,16.9980519 L9.87857143,16.9980519 C10.7292208,15.8993506 10.7974026,14.7224026 10.7974026,14.7224026 L10.7993506,14.7224026 L10.7993506,14.7224026 Z" id="Shape" fill="#D8D8D8"></path>
                                                                        <path d="M17.6561688,10.3574675 C17.5262987,10.3308442 17.3487013,10.3181818 17.2214286,10.3662338 C17.2314935,10.2594156 17.2399351,10.1597403 17.2441558,10.0844156 C17.374026,7.90811688 15.4762987,6.13766234 13.2967532,6.13766234 L13.2892857,6.13766234 C12.7542208,6.13766234 12.2366883,6.24512987 11.7623377,6.43863636 C10.3012987,7.03279221 9.24318182,8.44285714 9.34188312,10.0844156 C9.34675325,10.1597403 9.35519481,10.2594156 9.36461039,10.3662338 C9.23733766,10.3181818 9.05974026,10.3308442 8.92954545,10.3574675 C8.63668831,10.4172078 8.48376623,10.7038961 8.51071429,10.9899351 C8.52402597,11.1269481 8.57175325,11.2590909 8.63019481,11.3821429 C8.7262987,11.5873377 8.8288961,11.7785714 8.98571429,11.9451299 C9.1237013,12.0931818 9.29577922,12.2730519 9.50032468,12.3191558 C9.59220779,12.3396104 9.72954545,12.3344156 9.81493506,12.2912338 C10.0094156,12.9097403 10.2025974,13.487987 10.2025974,13.487987 C10.2025974,13.487987 10.7818182,14.1551948 11.5357143,14.7220779 L11.5340909,14.7220779 C11.5340909,14.7220779 11.4662338,15.899026 10.6162338,16.9977273 L12.8918831,16.9977273 L15.9545455,16.9977273 C15.1428571,15.9493506 15.0441558,14.8327922 15.0376623,14.7318182 C15.7977273,14.162987 16.3827922,13.487987 16.3827922,13.487987 C16.3827922,13.487987 16.5769481,12.9097403 16.7714286,12.2905844 L16.7714286,12.2909091 C16.8564935,12.3340909 16.9941558,12.3392857 17.0850649,12.3188312 C17.2909091,12.2727273 17.462013,12.0928571 17.600974,11.9448052 C17.7564935,11.7779221 17.8600649,11.587013 17.9574675,11.3818182 C18.0152597,11.2587662 18.062013,11.1266234 18.0753247,10.9896104 C18.1022727,10.7038961 17.9503247,10.4168831 17.6561688,10.3574675 L17.6561688,10.3574675 Z" id="Shape" fill="#D8D8D8"></path>
                                                                    </g>
                                                                </svg>
                                                            </pattern>
                                                        </defs>
                                                        <circle id="Oval-199" stroke="#F0F0F0" stroke-width="3" fill="url(#image3)" cx="795.5" cy="33.5" r="22.5"></circle>
                                                    </svg>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="currentView === 'step_two'">
                            <div class="col-lg-12">
                                <div class="wizard clearfix">
                                    <div class="steps clearfix">
                                        <ul role="tablist" class="fusion-tab">
                                            <li role="tab" class="disabled" aria-disabled="true">

                                                <a aria-controls="wizard-p-1">
                                                    <svg  width="49px" height="49px" viewBox="771 9 49 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                        <desc>Created with Sketch.</desc>
                                                        <defs>
                                                            <pattern id="image2" x="0" y="0" patternUnits="userSpaceOnUse" height="100%" width="100%" viewBox="7 0 33 15">
                                                                <svg width="25px" height="25px"  viewBox="414 22 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                    <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                                    <desc>Created with Sketch.</desc>
                                                                    <defs></defs>
                                                                    <g id="Metric-Icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(414.000000, 22.000000)">
                                                                        <path d="M3.15625,21.78125 L6.0625,21.78125 C6.375,21.78125 6.59375,21.53125 6.59375,21.25 L6.59375,3.40625 C6.59375,3.09375 6.34375,2.875 6.0625,2.875 L3.15625,2.875 C2.84375,2.875 2.625,3.125 2.625,3.40625 L2.625,21.25 C2.59375,21.53125 2.84375,21.78125 3.15625,21.78125 L3.15625,21.78125 Z M3.21875,3.46875 L5.96875,3.46875 L5.96875,21.125 L3.21875,21.125 L3.21875,3.46875 L3.21875,3.46875 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M19.15625,21.78125 L22.0625,21.78125 C22.375,21.78125 22.59375,21.53125 22.59375,21.25 L22.59375,16.4375 C22.59375,16.125 22.34375,15.90625 22.0625,15.90625 L19.15625,15.90625 C18.84375,15.90625 18.625,16.15625 18.625,16.4375 L18.625,21.25 C18.625,21.53125 18.84375,21.78125 19.15625,21.78125 L19.15625,21.78125 Z M19.25,16.53125 L22,16.53125 L22,21.15625 L19.25,21.15625 L19.25,16.53125 L19.25,16.53125 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M8.46875,21.78125 L11.375,21.78125 C11.6875,21.78125 11.90625,21.53125 11.90625,21.25 L11.90625,9.90625 C11.90625,9.59375 11.65625,9.375 11.375,9.375 L8.46875,9.375 C8.15625,9.375 7.9375,9.625 7.9375,9.90625 L7.9375,21.25 C7.9375,21.53125 8.1875,21.78125 8.46875,21.78125 L8.46875,21.78125 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M24.8125,23.21875 L23.8125,22.53125 C23.75,22.5 23.6875,22.5 23.65625,22.53125 C23.59375,22.5625 23.5625,22.625 23.5625,22.65625 L23.5625,23.03125 L1.25,23.03125 L1.25,1.5 L1.625,1.5 C1.6875,1.5 1.75,1.46875 1.75,1.40625 C1.78125,1.34375 1.78125,1.28125 1.75,1.25 L1.0625,0.25 C1,0.15625 0.875,0.15625 0.8125,0.25 L0.125,1.25 C0.09375,1.3125 0.09375,1.375 0.125,1.40625 C0.15625,1.46875 0.21875,1.5 0.25,1.5 L0.625,1.5 L0.625,23.34375 C0.625,23.53125 0.75,23.65625 0.9375,23.65625 L23.5625,23.65625 L23.5625,24.03125 C23.5625,24.09375 23.59375,24.15625 23.65625,24.15625 C23.6875,24.15625 23.71875,24.1875 23.71875,24.1875 C23.75,24.1875 23.78125,24.1875 23.8125,24.15625 L24.8125,23.46875 C24.84375,23.4375 24.875,23.40625 24.875,23.34375 C24.875,23.28125 24.875,23.25 24.8125,23.21875 L24.8125,23.21875 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M13.8125,21.78125 L16.71875,21.78125 C17.03125,21.78125 17.25,21.53125 17.25,21.25 L17.25,6.46875 C17.25,6.15625 17,5.9375 16.71875,5.9375 L13.8125,5.9375 C13.5,5.9375 13.28125,6.1875 13.28125,6.46875 L13.28125,21.25 C13.28125,21.53125 13.53125,21.78125 13.8125,21.78125 L13.8125,21.78125 Z M16.65625,20.25 L15.75,21.15625 L14.4375,21.15625 L16.65625,18.9375 L16.65625,20.25 L16.65625,20.25 Z M16.65625,18.28125 L13.90625,21.03125 L13.90625,19.4375 L16.65625,16.6875 L16.65625,18.28125 L16.65625,18.28125 Z M16.65625,14.0625 L13.90625,16.8125 L13.90625,15.5 L16.65625,12.75 L16.65625,14.0625 L16.65625,14.0625 Z M16.65625,12.0625 L13.90625,14.8125 L13.90625,13.40625 L16.65625,10.65625 L16.65625,12.0625 L16.65625,12.0625 Z M16.65625,10 L13.90625,12.75 L13.90625,11.46875 L16.65625,8.71875 L16.65625,10 L16.65625,10 Z M16.65625,8.0625 L13.90625,10.8125 L13.90625,9.5 L16.65625,6.75 L16.65625,8.0625 L16.65625,8.0625 Z M13.90625,8.84375 L13.90625,7.625 L14.9375,6.5625 L16.15625,6.5625 L13.90625,8.84375 L13.90625,8.84375 Z M13.90625,17.46875 L16.65625,14.71875 L16.65625,16.03125 L13.90625,18.75 L13.90625,17.46875 L13.90625,17.46875 Z M16.40625,21.15625 L16.65625,20.90625 L16.65625,21.15625 L16.40625,21.15625 L16.40625,21.15625 Z M14.28125,6.5625 L13.90625,6.9375 L13.90625,6.5625 L14.28125,6.5625 L14.28125,6.5625 Z" id="Shape" fill="#5B3BB7"></path>
                                                                    </g>
                                                                </svg>
                                                            </pattern>
                                                        </defs>
                                                        <circle id="Oval-199" stroke="#5B3BB7" stroke-width="3" fill="url(#image2)" cx="795.5" cy="33.5" r="22.5"></circle>
                                                    </svg></a>
                                            </li>
                                            <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                                                <svg width="326px" height="6px" class="svg-line2 fusion-svgLine1"  viewBox="446 30 326 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    &lt;!&ndash; Generator: Sketch 3.7.1 (28215) - http://www.bohemiancoding.com/sketch &ndash;&gt;
                                                    <desc>Created with Sketch.</desc>
                                                    <defs></defs>
                                                    <path d="M448,35 L770,35" id="Line-Copy" stroke="#5B3BB7" stroke-width="3" stroke-linecap="square" fill="none"></path>
                                                </svg>
                                            </li>
                                            <li role="tab" class="disabled" aria-disabled="true"><a aria-controls="wizard-p-1">
                                                    <svg class="animated bounceIn" width="49px" height="49px" viewBox="771 9 49 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                        <desc>Created with Sketch.</desc>
                                                        <defs>
                                                            <pattern id="image3" x="0" y="0" patternUnits="userSpaceOnUse" height="100%" width="100%" viewBox="2 0 22 15">
                                                                <svg width="25px" height="27px" viewBox="781 21 44 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                    <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                                    <desc>Created with Sketch.</desc>
                                                                    <defs></defs>
                                                                    <g id="Profile-Icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(783.000000, 21.000000)">
                                                                        <g id="Group" fill="#5B3BB7">
                                                                            <polygon id="Shape" points="5.19707792 0.0126623377 4.86461039 1.68376623 13.5954545 1.68376623"></polygon>
                                                                            <polygon id="Shape" points="19.8123377 26.7418831 20.1448052 25.0707792 11.4149351 25.0707792"></polygon>
                                                                            <polygon id="Shape" points="0.318181818 22.274026 1.11168831 22.4324675 1.11168831 18.2866883"></polygon>
                                                                            <polygon id="Shape" points="22.6555195 5.60941558 21.537013 11.2305195 21.537013 20.1892857 24.6905844 4.34058442 21.537013 3.71266234 21.537013 5.38668831"></polygon>
                                                                            <path d="M13.5954545,2.24318182 L4.86461039,2.24318182 L1.67207792,2.24318182 L1.67207792,18.287013 L1.67207792,22.4327922 L1.67207792,24.3714286 L11.4149351,24.3714286 L20.1448052,24.3714286 L20.9772727,24.3714286 L20.9772727,20.1896104 L20.9772727,11.2305195 L20.9772727,5.38668831 L20.9772727,3.71233766 L20.9772727,2.24285714 L13.5954545,2.24285714 L13.5954545,2.24318182 Z M19.2285714,5.03896104 L19.2285714,19.3493506 L11.9100649,19.3493506 L3.42045455,19.3493506 L3.42045455,9.50032468 L3.42045455,3.88571429 L4.53766234,3.88571429 L6.32012987,3.88571429 L13.4327922,3.88571429 L19.2282468,3.88571429 L19.2282468,5.03896104 L19.2285714,5.03896104 Z" id="Shape"></path>
                                                                        </g>
                                                                        <path d="M10.7993506,14.7224026 C10.0448052,14.1555195 9.46590909,13.4883117 9.46590909,13.4883117 C9.46590909,13.4883117 9.27272727,12.9100649 9.07824675,12.2915584 C8.99318182,12.3347403 8.85584416,12.3399351 8.76396104,12.3194805 C8.55876623,12.2733766 8.38701299,12.0935065 8.2487013,11.9454545 C8.09318182,11.7785714 7.98928571,11.5876623 7.89350649,11.3824675 C7.83506494,11.2594156 7.78766234,11.1272727 7.77435065,10.9902597 C7.7474026,10.7042208 7.89935065,10.4172078 8.19318182,10.3577922 C8.3224026,10.3311688 8.50097403,10.3185065 8.6288961,10.3665584 C8.61850649,10.2597403 8.60974026,10.1600649 8.60519481,10.0847403 C8.50681818,8.44285714 9.56428571,7.03279221 11.025,6.43896104 C10.5496753,6.24545455 10.0324675,6.13798701 9.49772727,6.13798701 L9.49025974,6.13798701 C7.30974026,6.13798701 5.41201299,7.90844156 5.54220779,10.0847403 C5.54707792,10.1600649 5.55551948,10.2597403 5.56493506,10.3665584 C5.43798701,10.3185065 5.26038961,10.3311688 5.13019481,10.3577922 C4.83636364,10.4175325 4.68441558,10.7042208 4.71136364,10.9902597 C4.72402597,11.1272727 4.7724026,11.2594156 4.83051948,11.3824675 C4.92662338,11.5876623 5.02954545,11.7788961 5.18636364,11.9454545 C5.32435065,12.0935065 5.4961039,12.2733766 5.70097403,12.3194805 C5.79285714,12.3399351 5.92954545,12.3347403 6.01525974,12.2915584 C6.20941558,12.9100649 6.40324675,13.4883117 6.40324675,13.4883117 C6.40324675,13.4883117 6.98149351,14.1555195 7.73636364,14.7224026 L7.73506494,14.7224026 C7.73506494,14.7224026 7.66655844,15.8993506 6.81655844,16.9980519 L9.87857143,16.9980519 C10.7292208,15.8993506 10.7974026,14.7224026 10.7974026,14.7224026 L10.7993506,14.7224026 L10.7993506,14.7224026 Z" id="Shape" fill="#5B3BB7"></path>
                                                                        <path d="M17.6561688,10.3574675 C17.5262987,10.3308442 17.3487013,10.3181818 17.2214286,10.3662338 C17.2314935,10.2594156 17.2399351,10.1597403 17.2441558,10.0844156 C17.374026,7.90811688 15.4762987,6.13766234 13.2967532,6.13766234 L13.2892857,6.13766234 C12.7542208,6.13766234 12.2366883,6.24512987 11.7623377,6.43863636 C10.3012987,7.03279221 9.24318182,8.44285714 9.34188312,10.0844156 C9.34675325,10.1597403 9.35519481,10.2594156 9.36461039,10.3662338 C9.23733766,10.3181818 9.05974026,10.3308442 8.92954545,10.3574675 C8.63668831,10.4172078 8.48376623,10.7038961 8.51071429,10.9899351 C8.52402597,11.1269481 8.57175325,11.2590909 8.63019481,11.3821429 C8.7262987,11.5873377 8.8288961,11.7785714 8.98571429,11.9451299 C9.1237013,12.0931818 9.29577922,12.2730519 9.50032468,12.3191558 C9.59220779,12.3396104 9.72954545,12.3344156 9.81493506,12.2912338 C10.0094156,12.9097403 10.2025974,13.487987 10.2025974,13.487987 C10.2025974,13.487987 10.7818182,14.1551948 11.5357143,14.7220779 L11.5340909,14.7220779 C11.5340909,14.7220779 11.4662338,15.899026 10.6162338,16.9977273 L12.8918831,16.9977273 L15.9545455,16.9977273 C15.1428571,15.9493506 15.0441558,14.8327922 15.0376623,14.7318182 C15.7977273,14.162987 16.3827922,13.487987 16.3827922,13.487987 C16.3827922,13.487987 16.5769481,12.9097403 16.7714286,12.2905844 L16.7714286,12.2909091 C16.8564935,12.3340909 16.9941558,12.3392857 17.0850649,12.3188312 C17.2909091,12.2727273 17.462013,12.0928571 17.600974,11.9448052 C17.7564935,11.7779221 17.8600649,11.587013 17.9574675,11.3818182 C18.0152597,11.2587662 18.062013,11.1266234 18.0753247,10.9896104 C18.1022727,10.7038961 17.9503247,10.4168831 17.6561688,10.3574675 L17.6561688,10.3574675 Z" id="Shape" fill="#5B3BB7"></path>
                                                                    </g>
                                                                </svg>
                                                            </pattern>
                                                        </defs>
                                                        <circle id="Oval-199" stroke="#5B3BB7" stroke-width="3" fill="url(#image3)" cx="795.5" cy="33.5" r="22.5"></circle>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="wrapper wrapper-content">
                    <div class="scrollbar" id="scroller">
                        <div class="row" ng-show="currentView === 'step_one'">
                            <h5 class="model-title">Step 1 : Choose a Dashboard</h5>
                            <div class="col-lg-12">
                                <div ng-repeat="dashboards in recommendDashboard" class="col-lg-2 widget-icons showReferenceWidgets" data-toggle="tooltip" data-placement="bottom" title="" data-original-title={{dashboards.dashboard.description}}  ng-click="getProfileForChosenChannel(dashboards);changeViewsInBasicWidget('step_two');">
                                        <p class="metricNames" style="margin-top:5px !important;">{{dashboards.dashboard.name}}</p>
                                        <img ng-repeat="channels in dashboards.channels" src="image/thumbnail/{{channels.name}}.png" class="img-thumbnail" style="max-width:30%;max-height:35%; margin: 0px 5px 0px 0px;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="currentView === 'step_two'">
                            <h5 class="model-title">Step 2 : Choose Your Accounts</h5>
                            <div class="col-lg-12" style="background-color: #f3f3f4">
                                <div class="row" style="margin: 25px 5px 5px 5px ;">
                                    <div class="col-lg-12" style="margin: 0px">
                                        <channelDiv class="col-lg-6" ng-repeat="listChannel in getChannelList">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title ibox-fusion" style="vertical-align: middle">
                                                    <h5><img src="image/lightbox/{{listChannel.name}}.png" align="left"
                                                             style="max-height: 30px;max-width: 60px"/><span>{{storedChannelName}} Account</span>
                                                    </h5>
                                                </div>
                                                <div class="ibox-content fusion-boxContent" style="display: block;">
                                                    <form class="form-horizontal">
                                                        <div class="form-group">
                                                            <div class="col-lg-12">
                                                                <select class="form-control m-b choose-text"
                                                                        ng-model="profileOptionsModel[$index]"
                                                                        ng-options="profiles as profiles.name for profiles in profileList[$index].profiles"
                                                                        ng-change="getObjectsForChosenProfile(profileOptionsModel[$index],$index)">
                                                                    <option value="">Select a Profile</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-12" style="margin: 0px;padding: 0px">
                                                                <div class="col-lg-6 add-profile">
                                                                    <a ng-click="addNewProfile($index)" class="link-img">
                                                                        <svg width="10px" height="10px"
                                                                             viewBox="0 0 10 11" version="1.1"
                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                            <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                                            <desc>Created with Sketch.</desc>
                                                                            <defs></defs>
                                                                            <path d="M0.630705427,4.17770891 L1.87067992,5.41815976 C2.20222899,5.74970884 2.60856716,5.92072338 3.08969441,5.92072338 C3.57082166,5.92072338 3.98811619,5.74970884 4.33014527,5.3967234 L4.85414524,5.92072338 C4.5011598,6.26275245 4.33014527,6.68004698 4.33014527,7.17165423 C4.33014527,7.64230148 4.4906798,8.04863965 4.82222888,8.37971236 L6.05172337,9.62016322 C6.38327245,9.95171229 6.78961061,10.1227268 7.27073786,10.1227268 C7.74090875,10.1227268 8.14724692,9.96219229 8.47879599,9.63111958 L9.35530505,8.75413416 C9.68685412,8.42258509 9.85786866,8.01624692 9.85786866,7.54607603 C9.85786866,7.06494878 9.68685412,6.65861062 9.35530505,6.32706154 L8.11533055,5.08661069 C7.78378148,4.75506161 7.37744331,4.58404707 6.90679606,4.58404707 C6.42566881,4.58404707 6.00885065,4.75506161 5.66682157,5.10804705 L5.14282159,4.58404707 C5.49580703,4.242018 5.66682157,3.82472347 5.66682157,3.33311622 C5.66682157,2.86246897 5.50628703,2.4561308 5.17473796,2.12505809 L3.94524346,0.884607234 C3.61369439,0.553058158 3.20735622,0.38204362 2.72622897,0.38204362 C2.24510172,0.38204362 1.83876356,0.542578158 1.50721448,0.874127235 L0.630705427,1.75063629 C0.299156351,2.08218536 0.128141813,2.47756716 0.128141813,2.95869442 C0.128141813,3.44029803 0.299156351,3.8466362 0.630705427,4.17770891 L0.630705427,4.17770891 Z M1.44338176,2.56331262 L2.31989081,1.6863272 C2.43755262,1.57962175 2.56569443,1.52626902 2.72622897,1.52626902 C2.88676351,1.52626902 3.01490532,1.57962175 3.13256714,1.69728356 L4.35158163,2.92677805 C4.46924344,3.04443987 4.52259617,3.17258168 4.52259617,3.33311622 C4.52259617,3.50413076 4.45828708,3.64322893 4.33014527,3.77137074 C4.31966527,3.76089074 4.27679254,3.71801802 4.22343982,3.65370893 C4.15913073,3.58987621 4.116258,3.54700348 4.09482164,3.52556712 C4.06290528,3.50413076 4.03098891,3.48269439 3.97715983,3.44029803 C3.9238071,3.39742531 3.87045438,3.37598894 3.82758165,3.36503258 C3.77422893,3.34359622 3.7208762,3.34359622 3.65656711,3.34359622 C3.50698894,3.34359622 3.36789076,3.39742531 3.25022895,3.50413076 C3.1435235,3.62179257 3.08969441,3.76089074 3.08969441,3.91046892 C3.08969441,3.97477801 3.08969441,4.02813073 3.11113077,4.08148346 C3.12208714,4.12435618 3.1435235,4.17770891 3.18591986,4.23106163 C3.22879259,4.28489072 3.25022895,4.31680708 3.27166531,4.34872345 C3.29310167,4.37015981 3.3359744,4.41303253 3.39980712,4.47734162 C3.46411621,4.53069435 3.50698894,4.57356707 3.51746894,4.58404707 C3.39980712,4.70170889 3.25022895,4.76601797 3.08969441,4.76601797 C2.92963624,4.76601797 2.79053806,4.71266525 2.68335625,4.60548344 L1.44338176,3.36503258 C1.32571994,3.25832713 1.27236722,3.11922895 1.27236722,2.95869442 C1.27236722,2.80911624 1.32571994,2.67001807 1.44338176,2.56331262 L1.44338176,2.56331262 Z M5.66682157,6.73339971 C5.67730157,6.74387971 5.7201743,6.78675243 5.77352702,6.84010516 C5.83783611,6.90441424 5.88070883,6.94728697 5.9021452,6.96872333 C5.9231052,6.99015969 5.96597792,7.02207606 6.01933065,7.06494878 C6.07315973,7.09686514 6.1155561,7.12878151 6.16938519,7.13973787 C6.22273791,7.15021787 6.27609063,7.16117423 6.32944336,7.16117423 C6.4899779,7.16117423 6.62907607,7.10734514 6.73578152,6.99015969 C6.85344334,6.88297788 6.90679606,6.74387971 6.90679606,6.58382153 C6.90679606,6.52999244 6.89631606,6.47663972 6.88583606,6.42328699 C6.8748797,6.36993427 6.84296334,6.32706154 6.81057061,6.27370882 C6.76817425,6.21987973 6.73578152,6.18796337 6.71434516,6.156047 C6.6929088,6.13461064 6.65051244,6.09173792 6.58620335,6.02742883 C6.52189426,5.9740761 6.4899779,5.93120338 6.4794979,5.92072338 C6.59668335,5.7921052 6.73578152,5.72827248 6.90679606,5.72827248 C7.0673306,5.72827248 7.19547241,5.7816252 7.31313423,5.89928702 L8.54310508,7.13973787 C8.66076689,7.24644332 8.71411962,7.3855415 8.71411962,7.54607603 C8.71411962,7.69565421 8.66076689,7.83475239 8.54310508,7.94145783 L7.67659966,8.80748689 C7.55941422,8.9146687 7.43079604,8.96802143 7.27073786,8.96802143 C7.11020333,8.96802143 6.97110515,8.9146687 6.8643997,8.80748689 L5.64538521,7.5675124 C5.52772339,7.46033058 5.47437067,7.32123241 5.47437067,7.17165423 C5.47437067,7.00063969 5.53820339,6.85106152 5.66682157,6.73339971 L5.66682157,6.73339971 Z"
                                                                                  id="Fill-82" stroke="none"
                                                                                  fill="#4C3BB8"
                                                                                  fill-rule="evenodd"></path>
                                                                        </svg>
                                                                        <span class="link-span">Link account</span></a>
                                                                </div>
                                                                <div class="col-lg-6 remove-profile" style="">
                                                                    <a class="link-img" ng-click="removeExistingProfile($index)">
                                                                        <svg width="10px" height="10px"
                                                                             viewBox="0 0 11 11" version="1.1"
                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                            <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                                            <desc>Created with Sketch.</desc>
                                                                            <defs></defs>
                                                                            <path d="M0.260940154,7.41161985 L2.1897806,7.41161985 C2.24354618,7.41161985 2.28675067,7.39001761 2.31891402,7.35737422 C2.36211851,7.32521088 2.3726796,7.27144529 2.3726796,7.2176797 C2.3726796,7.16343406 2.36211851,7.10966848 2.31891402,7.07750513 C2.28675067,7.04486174 2.24354618,7.02373955 2.1897806,7.02373955 L0.260940154,7.02373955 C0.207174567,7.02373955 0.163970077,7.04486174 0.120765587,7.07750513 C0.0886022449,7.10966848 0.067,7.16343406 0.067,7.2176797 C0.067,7.27144529 0.0886022449,7.32521088 0.120765587,7.35737422 C0.163970077,7.39001761 0.207174567,7.41161985 0.260940154,7.41161985 L0.260940154,7.41161985 Z M0.670422707,4.58844647 L2.69623323,6.61425699 C2.77160106,6.70018592 2.89017338,6.7865949 3.0298679,6.86196273 L3.13787912,5.42901382 L1.48938781,3.78004246 C1.37081549,3.66147014 1.3170499,3.52177563 1.3170499,3.37103996 C1.3170499,3.20926315 1.37081549,3.07964968 1.48938781,2.96107736 L2.3726796,2.08834667 C2.49125193,1.98081549 2.62038535,1.9270499 2.78216216,1.9270499 C2.94393897,1.9270499 3.08411354,1.98081549 3.19164471,2.09938781 L4.82957492,3.73731803 L6.26252383,3.6293068 C6.1765949,3.48913223 6.10074702,3.38160106 6.01481809,3.29519208 L4.01060982,1.28042271 C3.6764951,0.946307986 3.26701254,0.773970077 2.78216216,0.773970077 C2.29731177,0.773970077 1.88782922,0.935746889 1.56475565,1.26986161 L0.670422707,2.1531534 C0.336307986,2.47622697 0.163970077,2.88570953 0.163970077,3.37103996 C0.163970077,3.8342881 0.336307986,4.24377066 0.670422707,4.58844647 L0.670422707,4.58844647 Z M0.896526204,9.85747403 C0.939730693,9.88963737 0.982935183,9.91123961 1.03670077,9.91123961 C1.07990526,9.91123961 1.13367085,9.88963737 1.16583419,9.85747403 L2.70679432,8.31651389 C2.74999881,8.2733094 2.76055991,8.23010491 2.76055991,8.17633932 C2.76055991,8.13313483 2.74999881,8.07936925 2.70679432,8.0472059 C2.67463098,8.00400141 2.62038535,7.99344032 2.56661976,7.99344032 C2.52341527,7.99344032 2.46964968,8.00400141 2.43748634,8.0472059 L0.896526204,9.57712489 C0.853321714,9.62032938 0.842760616,9.66353387 0.842760616,9.71729946 C0.842760616,9.77106505 0.853321714,9.81426954 0.896526204,9.85747403 L0.896526204,9.85747403 Z M3.39662601,10.6221935 C3.42878935,10.665398 3.48255494,10.6870002 3.53632053,10.6870002 C3.59056617,10.6870002 3.64433175,10.665398 3.6764951,10.6221935 C3.70865844,10.5900302 3.73026068,10.5468257 3.73026068,10.4930601 L3.73026068,8.56421963 C3.73026068,8.51045404 3.70865844,8.46724955 3.6764951,8.42452511 C3.64433175,8.39188172 3.59056617,8.37027948 3.53632053,8.37027948 C3.48255494,8.37027948 3.42878935,8.39188172 3.39662601,8.42452511 C3.36398262,8.46724955 3.34238037,8.51045404 3.34238037,8.56421963 L3.34238037,10.4930601 C3.34238037,10.5468257 3.36398262,10.5900302 3.39662601,10.6221935 L3.39662601,10.6221935 Z M4.12918214,8.057767 L6.13339041,10.0730164 C6.46750513,10.4176922 6.87698769,10.5900302 7.36183807,10.5900302 C7.83564731,10.5900302 8.24512986,10.4282533 8.57924458,10.0946187 L9.46253637,9.21084683 C9.7966511,8.87673211 9.968989,8.46724955 9.968989,7.99344032 C9.968989,7.51915103 9.7966511,7.10966848 9.46253637,6.76499266 L7.447767,4.73918214 C7.36183807,4.65277316 7.25382685,4.56684423 7.11365228,4.4914764 L7.00612111,5.92442531 L8.64405132,7.58395776 C8.76262364,7.69148894 8.81638923,7.83166351 8.81638923,7.99344032 C8.81638923,8.14417598 8.76262364,8.28435055 8.64405132,8.39188172 L7.77084058,9.27565356 C7.6633094,9.38318474 7.52313483,9.43695032 7.36183807,9.43695032 C7.18902011,9.43695032 7.05988669,9.37262364 6.95235552,9.26461242 L5.31442531,7.61612111 L3.8814764,7.72413233 C3.96740533,7.86382685 4.04277316,7.97183807 4.12918214,8.057767 L4.12918214,8.057767 Z M6.46750513,2.92891402 C6.49966848,2.96107736 6.55343406,2.9826796 6.60719965,2.9826796 C6.66144529,2.9826796 6.71521088,2.96107736 6.74737422,2.92891402 C6.77953756,2.89675067 6.8011398,2.84298509 6.8011398,2.78873945 L6.8011398,0.870940154 C6.8011398,0.806133419 6.77953756,0.76340898 6.74737422,0.730765587 C6.71521088,0.688041147 6.66144529,0.677 6.60719965,0.677 C6.55343406,0.677 6.49966848,0.688041147 6.46750513,0.730765587 C6.43486174,0.76340898 6.4132595,0.806133419 6.4132595,0.870940154 L6.4132595,2.78873945 C6.4132595,2.84298509 6.43486174,2.89675067 6.46750513,2.92891402 L6.46750513,2.92891402 Z M7.42616476,3.31679432 C7.47993034,3.34943772 7.52313483,3.37103996 7.56633932,3.37103996 C7.62010491,3.37103996 7.6633094,3.34943772 7.70651389,3.31679432 L9.24747403,1.77631424 C9.27963737,1.73310975 9.30123961,1.68990526 9.30123961,1.63613967 C9.30123961,1.58189404 9.27963737,1.5391696 9.24747403,1.49596511 C9.20426954,1.46380176 9.16106505,1.44219952 9.10729946,1.44219952 C9.05353387,1.44219952 9.01032938,1.46380176 8.96712489,1.49596511 L7.42616476,3.03692524 C7.39400141,3.07964968 7.37239917,3.12285417 7.37239917,3.17661976 C7.37239917,3.2308654 7.39400141,3.27358983 7.42616476,3.31679432 L7.42616476,3.31679432 Z M7.95421963,4.32969958 L9.87201893,4.32969958 C9.93682566,4.32969958 9.98003015,4.30809734 10.0121935,4.275934 C10.055398,4.24377066 10.0659591,4.18952502 10.0659591,4.13575943 C10.0659591,4.08199384 10.055398,4.02822826 10.0121935,3.99558486 C9.98003015,3.96342152 9.93682566,3.94181928 9.87201893,3.94181928 L7.95421963,3.94181928 C7.90045404,3.94181928 7.84668846,3.96342152 7.81404506,3.99558486 C7.78188172,4.02822826 7.76027948,4.08199384 7.76027948,4.13575943 C7.76027948,4.18952502 7.78188172,4.24377066 7.81404506,4.275934 C7.84668846,4.30809734 7.90045404,4.32969958 7.95421963,4.32969958 L7.95421963,4.32969958 Z"
                                                                                  id="Fill-97" stroke="none"
                                                                                  fill="#4C3BB8"
                                                                                  fill-rule="evenodd"></path>
                                                                        </svg>
                                                                        <span class="link-span">Delink account</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-12 select-profiles"
                                                                 style="display: flex;">
                                                                <select class="form-control m-b"
                                                                        ng-show="listChannel.name ==='Google Analytics'" ng-model="objectOptionsModel1[$index]"
                                                                        ng-change="objectForWidgetChosen(objectOptionsModel1[$index],$index)">
                                                                    <option value="">Select an item</option>
                                                                    <optgroup style="font-wight:bold"  ng-repeat="header in objectList[$index]"
                                                                              label="{{ header.webPropertyName }}">{{$index}}
                                                                        <option ng-repeat="item in header.metricDetails"
                                                                                value="{{item}}" >{{ item.name }}</option>
                                                                    </optgroup>
                                                                </select>
                                                                <select class="form-control m-b col-md-6"
                                                                        ng-model="objectOptionsModel[$index]"
                                                                        ng-hide = "listChannel.name=== 'Twitter' || listChannel.name=== 'Google Analytics'"
                                                                        ng-options="objects as objects.name for objects in objectList[$index]"
                                                                        ng-change="objectForWidgetChosen(objectOptionsModel[$index], $index)" >
                                                                    <option value="" selected="selected">Select an item</option>
                                                                </select>
                                                                <div class="infont col-md-1 col-sm-2" ng-hide = "listChannel.name=== 'Twitter'">
                                                                    <a ng-click="refreshObjectsForChosenProfile($index)"
                                                                       class="link-img">
                                                                        <svg width="7px" height="7px"
                                                                             viewBox="0 0 7 7" version="1.1"
                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                            <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
                                                                            <desc>Created with Sketch.</desc>
                                                                            <defs></defs>
                                                                            <path d="M0.364333333,6.36533333 C0.416666667,6.41766667 0.484,6.44033333 0.551333333,6.44033333 C0.626,6.44033333 0.686,6.41766667 0.738333333,6.36533333 L1.277,5.82666667 C1.57633333,6.111 1.913,6.328 2.29466667,6.47766667 C2.676,6.63466667 3.07266667,6.70966667 3.47666667,6.70966667 C4.24,6.70966667 4.90566667,6.47766667 5.47433333,6.01366667 C6.043,5.55 6.417,4.94366667 6.58933333,4.203 C6.59666667,4.19566667 6.59666667,4.188 6.59666667,4.17333333 C6.59666667,4.13566667 6.58166667,4.106 6.55933333,4.076 C6.52933333,4.05366667 6.49933333,4.03866667 6.462,4.03866667 L5.66133333,4.03866667 C5.60166667,4.03866667 5.55666667,4.06833333 5.53433333,4.13566667 C5.41466667,4.41266667 5.34733333,4.57733333 5.30966667,4.622 C5.11533333,4.93633333 4.861,5.19066667 4.539,5.37033333 C4.21,5.55 3.86566667,5.63966667 3.49166667,5.63966667 C3.22233333,5.63966667 2.96066667,5.58733333 2.71366667,5.49 C2.45933333,5.39266667 2.23466667,5.25066667 2.04033333,5.06366667 L2.60866667,4.495 C2.66133333,4.44266667 2.691,4.37533333 2.691,4.308 C2.691,4.233 2.66133333,4.17333333 2.60866667,4.12066667 C2.55633333,4.06833333 2.49666667,4.03866667 2.42166667,4.03866667 L0.551333333,4.03866667 C0.484,4.03866667 0.416666667,4.06833333 0.364333333,4.12066667 C0.312,4.17333333 0.289333333,4.233 0.289333333,4.308 L0.289333333,6.17833333 C0.289333333,6.24566667 0.312,6.313 0.364333333,6.36533333 L0.364333333,6.36533333 Z M0.401666667,2.93133333 C0.424,2.95366667 0.461666667,2.96866667 0.499,2.96866667 L1.32933333,2.96866667 C1.38933333,2.96866667 1.42666667,2.93866667 1.449,2.87133333 C1.569,2.59466667 1.64366667,2.43 1.67366667,2.385 C1.868,2.07066667 2.13,1.81633333 2.45166667,1.637 C2.77333333,1.45733333 3.11766667,1.36733333 3.49166667,1.36733333 C4.053,1.36733333 4.539,1.55466667 4.95066667,1.936 L4.37466667,2.51233333 C4.32233333,2.56466667 4.29233333,2.632 4.29233333,2.69933333 C4.29233333,2.774 4.32233333,2.834 4.37466667,2.88633333 C4.427,2.93866667 4.48666667,2.96866667 4.56166667,2.96866667 L6.432,2.96866667 C6.507,2.96866667 6.56666667,2.93866667 6.619,2.88633333 C6.67133333,2.834 6.70133333,2.774 6.70133333,2.69933333 L6.70133333,0.828666667 C6.70133333,0.761333333 6.67133333,0.694 6.619,0.641666667 C6.56666667,0.589333333 6.507,0.567 6.432,0.567 C6.36466667,0.567 6.29733333,0.589333333 6.245,0.641666667 L5.699,1.18033333 C5.407,0.903666667 5.063,0.686666667 4.68133333,0.529666667 C4.29233333,0.372333333 3.89566667,0.297666667 3.49166667,0.297666667 C2.72866667,0.297666667 2.06266667,0.529666667 1.48666667,0.993333333 C0.918,1.45733333 0.543666667,2.06333333 0.364333333,2.804 L0.364333333,2.834 C0.364333333,2.87133333 0.371666667,2.90133333 0.401666667,2.93133333 L0.401666667,2.93133333 Z"
                                                                                  id="Fill-15" stroke="none"
                                                                                  fill="#4C3BB8"
                                                                                  fill-rule="evenodd"></path>
                                                                        </svg>
                                                                        <div class="link-span refresh">Refresh</div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </channelDiv>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button class="btn btn-white button-mode" id="basicWidgetBackButton1" ng-hide="currentView === 'step_one' || currentView === 'step_two'" ng-click="changeViewsInBasicWidget('step_two')">Previous </button>
                        <button class="btn btn-white button-mode" id="basicWidgetBackButton2" ng-show="currentView === 'step_two'" ng-click="changeViewsInBasicWidget('step_one')">Previous </button>
                        <button class="btn btn-primary button-mode" id="basicWidgetFinishButton" ng-show="currentView === 'step_two'" ng-click="createRecommendedDashboard();ok()" disabled="disabled">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>






