           <style>
               .dr-calendar {
                   display: none !important;
               }

               .dr-presets {
                   display: none !important;
               }
           </style>



            <div ng-init="dashboardConfiguration()" id="dashboardLayout" class="dashboardLayout">
                <div class="border-bottom dashboardTitle white-bg">
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="dashboardTemplate-items">
                                <div class="col-sm-3 dashboardName">
                                    <a>
                                        <pre ng-style="!dashboard.dashboardName  && {'color':'#999'}  || dashboard.dashboardName && {'color':'#000'}">{{dashboard.dashboardName || 'Untitled'}}</pre>
                                    </a>
                                </div >
                                <div class="col-sm-4">
                                    <div class="daterange daterange--double three"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                   <div class="white-bg dashboardContent">
                    <div gridster="gridsterOptions" class="row" style="border: 1px solid #efefef;min-height: 500px" id="gridsterItems"><!--ng-switch-when="true"-->
                        <ul>
                            <li gridster-item="widget" ng-repeat="(widgetIndex,widget) in dashboard.widgets">
                                <div class="box getBox-{{widget.id}}" ng-controller="CustomWidgetController" id="{{widget.id}}">

                                    <div class="box-header" id="getWidgetColor-{{widget.id}}" ref="{{dashboard.widgetData[widgetIndex].color}}" style="background-color: #ffffff;"> <!--ng-style="{'background-color': dashboard.widgetData[widgetIndex].color}"-->
                                <div style="float: left;width: 93%;">
                                    <img src="image/thumbnail/{{widget.channelName}}.png" style="vertical-align: super;max-height: 31px; max-width: 50px; padding:5px"/>
                                    <h3 ng-style="widget.sizeX!=1  && {'width':'80%'}  || widget.sizeX==1 && {'width':'50%'} ">{{dashboard.widgetData[widgetIndex].name}}</h3>
                                        </div>

                                <div class="graph-icon">
                                    <a title="Toggle Legends" ng-click="toggleLegends(widget.id)"><i class="fa fa-filter"></i></a>
                                </div>
                                    </div>

                                    <div class="box-content" style="vertical-align: middle" ng-style="{position:(isMobile?'static':'absolute')}">
                                        <div ng-if="dashboard.widgetData[widgetIndex].visibility == false">
                                            <div class="spiner-example" id="widgetData-{{widget.id}}">
                                                <div class="mainLoading location">
                                                    <div class="sk-spinner sk-spinner-double-bounce">
                                                        <div class="sk-double-bounce1"></div>
                                                        <div class="sk-double-bounce2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="errorWidgetData" id="errorWidgetData-{{widget.id}}">
                                                <div class="row" style="margin: 0px;height: 100%">
                                                    <div style="height:99%;">
                                                        <div style="position:relative; top:36%; text-align:center; padding-right:20px">
                                                            <p style="word-wrap:break-word;">Your credentials not authorized to fetch Data</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row getWidgetGraph" style="height: 100%;margin:0px;" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'lineChart'  || chart.options.chart.type=== 'pieChart' || chart.options.chart.type=== 'multiBarChart' " style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 20%">
                                                    <ul style="height:100%;font-size:14px; padding-left: 5px;">
                                                <li  ng-repeat="data in chart.data" size-watcher size-watcher-height="data.myheight" ng-class="calculateColumnWidth(chart.data.length)" ng-style="calculateRowHeight(data.myheight,chart.data.length)" style="text-align: center;padding-top: 1px;padding-left:0px;padding-right: 2px;" id="li-{{widget.id}}-{{$index}}"><!--size-watcher-width="data.mywidth"-->
                                                            <div style="margin: 0px;height: 100%;overflow: hidden;white-space: nowrap;color: #000000;text-align: center" >
                                                                <p ng-style="{'color': '#979797', 'font-family' : 'Bebas Neue'}" style="font-weight: bold;">{{data.key}} - <b ng-style="{'color':data.color, 'font-family' : 'Bebas Neue'}"> {{data.summaryDisplay}} </b> </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="row" style="margin: 0px;height: 80%">
                                                    <nvd3 options="chart.options" data="chart.data" api="chart.api" config="{refreshDataOnly:true, deepWatchDataDepth: 0}" events="events" ng-if="dashboard.widgetData[widgetIndex].visibility == true"></nvd3>
                                                </div>
                                            </div>
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'emptyCharts'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 100%">
                                                    <div events="events" style="height: 99%;" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                        <div style="position:relative; top: 36%; text-align: center" ng-repeat="data in chart.data">
                                                            <p style="word-wrap:break-word;">{{data.message}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'instagramPosts'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 100%">
                                                    <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                        <div class="scrollbar scrollInWidget" id="scroller">
                                                            <div class="col-lg-12 listed" ng-repeat="data in chart.data">
                                                                <div class="col-lg-1 listed-image" >
                                                                    <a  href="{{data.links}}" target="_blank"><img src="{{data.image}}" height="50px" widget="50px"/></a>
                                                                </div>
                                                                <div class="col-lg-11 aside">
                                                                    <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                                    <div class="impression">
                                                                        <div class="likes"><span>likes:{{data.likes}}</span></div>
                                                                        <div class="comment"><span>Comments:{{data.comments}}</span></div>
                                                                        <div class="date"><span>{{data.date}}</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'highEngagementTweets'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 100%">
                                                    <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                        <div class="scrollbar scrollInWidget" id="scroller">
                                                            <div class="col-lg-12 listed" ng-repeat="data in chart.data" ng-if="data.postComment">
                                                                <div class="col-lg-12">
                                                                    <div class="postComment"><a class="apiLink" href="{{data.links.media[0].expanded_url}} " target="_blank">{{data.postComment}}</a></div>
                                                                    <div class="impression">
                                                                        <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                        <div class="comment"><span>Retweets: {{data.reTweet}}</span></div>
                                                                        <div class="date"><span>{{data.date}}</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'highestEngagementLinkedIn'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 100%">
                                                    <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                        <div class="scrollbar scrollInWidget" id="scroller">
                                                            <div class="col-lg-12 listed" ng-repeat="data in chart.data" ng-if="data.postComment">
                                                                <div class="col-lg-12">
                                                                    <div class="postComment"><a class="apiLink" href="{{data.link}} " target="_blank">{{data.postComment}}</a></div>
                                                                    <div class="impression">
                                                                        <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                        <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                        <div class="comment"><span>shares: {{data.shares}}</span></div>
                                                                        <div class="comment"><span>clicks: {{data.clicks}}</span></div>
                                                                        <div class="comment"><span>impressions: {{data.impressions}}</span></div>
                                                                        <div class="date"><span>{{data.date}}</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12" style="position: relative;top:40%;text-align: center;" ng-if="!chart.data.postComment">
                                                               <span >No Updates available</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'gaTopPagesByVisit'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 100%" >
                                                    <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true" ng-init="limitScroll=20">
                                                        <div class="scrollbar scrollInWidget" id="scroller">
                                                            <div class="col-xs-12 toplisted" ng-repeat="data in chart.data | limitTo: limitScroll" ng-if="data.pagePath">
                                                                <div class="col-xs-10" style="float:left;overflow: hidden" >{{data.pagePath}}</div>
                                                                <div class="col-xs-2" style="float:left;text-align: right">{{data.pageVisits}}</div>
                                                            </div>
                                                            <div style="text-align:center" ng-show="chart.data.length>20">
                                                                <a href ng-click="limitScroll=(limitScroll+10)" ng-show="limitScroll<chart.data.length">Show More</a>
                                                                <span ng-show="limitScroll>20&&limitScroll<chart.data.length">|</span>
                                                                <a href ng-click="limitScroll=(limitScroll-10)" ng-show="limitScroll>20">Show Less</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'pinterestEngagementRate'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 100%">
                                                    <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                        <div class="scrollbar scrollInWidget" id="scroller">
                                                            <div class="col-lg-12 listed" ng-repeat="data in chart.data">
                                                                <div class="col-lg-12">
                                                                    <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                                    <div class="impression">
                                                                        <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                        <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                        <div class="comment"><span>Repins: {{data.repin}}</span></div>
                                                                        <div class="date"><span>{{data.date}}</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'pinterestLeaderboard'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 100%" >
                                                    <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                        <div class="scrollbar scrollInWidget" id="scroller">
                                                            <div class="col-lg-12 listed"  ng-repeat="data in chart.data">
                                                                <div class="col-lg-12">
                                                                    <div class="postComment"><a class="apiLink" href="{{data.links}} " target="_blank">{{data.postComment}}</a></div>
                                                                    <div class="impression">
                                                                        <div class="likes"><span>collaborators: {{data.collaborators}}</span></div>
                                                                        <div class="comment"><span>pins: {{data.followers}}</span></div>
                                                                        <div class="comment"><span>followers: {{data.pins}}</span></div>
                                                                        <div class="date"><span>{{data.date}}</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="chart in dashboard.widgetData[widgetIndex].chart" ng-if="chart.options.chart.type=== 'vimeoTopVideos'" style="float: left;padding-left: 2px;padding-right: 2px;" ng-style="{'height': (100/dashboard.widgetData[widgetIndex].layoutOptionsY)+'%', 'width': (100/dashboard.widgetData[widgetIndex].layoutOptionsX)+'%'}">
                                                <div class="row" style="margin: 0px;height: 100%" >
                                                    <div events="events" style="height: 99%" ng-if="dashboard.widgetData[widgetIndex].visibility == true">
                                                        <div class="scrollbar scrollInWidget" id="scroller">
                                                            <div class="col-lg-12 listed" ng-repeat="data in chart.data" ng-if="data.title">
                                                                <div class="col-lg-1 listed-image" >
                                                                    <a  href="{{data.link }}" target="_blank"><img src="{{data.picture}}" height="50px" widget="50px" /></a>
                                                                </div>
                                                                <div class="col-lg-11 aside">
                                                                    <div class="postComment"> <a  class="apiLink" href="{{data.link }}" target="_blank">  {{data.title}}</a></div>
                                                                    <div class="impression">
                                                                        <div class="likes"><span>Likes: {{data.likes}}</span></div>
                                                                        <div class="comment"><span>comments: {{data.comments}}</span></div>
                                                                        <div class="likes"><span>Views: {{data.views}}</span></div>
                                                                        <div class="date"><span>{{data.date}}</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="context widgetTransparentImage" id="widgetTransparentImage-{{widget.id}}" ng-hide="tempDashboard" ng-click="callThePosition($event,widget.id)" style="width: 100%;height: 100%;"></div>-->
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <script src="js/datePicker/Calendar.js"></script>
            </div>