<html>
    <head>
        <script>
            window.opener.afterAuthentication();
            window.close();
        </script>
    </head>
    <body>
        Successfully Authenticated.
    </body>
</html>