<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3 class="model-title">Widget Settings</h3>
        </div>

        <div class="modal-body widget-body" style="height: 50px;">
            <div class="form-group" ng-class="{error: _form.name.$error && _form.submitted}">
                <label class="control-label col-lg-2 col-md-2">Name</label>
                <div class="col-lg-9 col-md-9">
                    <input name="name" type="text" ng-model="form.name" class="form-control" />
                </div>
            </div>
<!--
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group" ng-class="{error: _form.sizeX.$error && _form.submitted}">
                        <label class="control-label col-lg-4 col-md-4">Width</label>
                        <div class="col-lg-6 col-md-6">
                            <input name="sizeX" ng-model="form.sizeX" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-4">Height</label>
                        <div class="col-lg-6 col-md-6">
                            <input name="sizeY" ng-model="form.sizeY" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group" ng-class="{error: _form.sizeX.$error && _form.submitted}">
                        <label class="control-label col-lg-4 col-md-4">Column</label>
                        <div class="col-lg-6 col-md-6">
                            <input name="col" ng-model="form.col" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-4">Row</label>
                        <div class="col-lg-6 col-md-6">
                            <input name="row" ng-model="form.row" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
-->
            <div class="form-group">
                <label class="control-label col-lg-2 col-md-2"></label>
                <div class="col-lg-9 col-md-9">
                    <p><h4>
                        <a href="/customDataDocumentation" target="_blank" class="findOutHow">Find out How to send data for custom widgets - Documentation</a>
                    </h4></p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a ng-click="remove(widget);deleteWidget(widget)" class="btn btn-primary button-mode pull-left" tabindex="-1"><i class=" glyphicon glyphicon-trash favigon-img"></i>Delete</a>
            <a ng-click="dismiss()" class="btn btn-primary button-mode" tabindex="-1"><i class="glyphicon glyphicon-remove favigon-img"></i>Cancel</a>
            <button type="submit" class="btn btn-primary button-mode"><i class="glyphicon glyphicon-ok favigon-img"></i>Save</button>
        </div>
    </form>
</div>